/*-------------------------------*/
/*- ADVANCED LAYOUTS ------------*/
/*-------------------------------*/
.advanced-layout{display: flex; flex-direction: row;}
.advanced-layout .container{margin: auto;}

.advanced-layout header .container{padding: 0;}

.advanced-layout-left header{order: 1; width: 20%;}
.advanced-layout-left .wrapper-content{order: 2; width: 80%;}

.advanced-layout-right header{order: 2; width: 20%;}
.advanced-layout-right .wrapper-content{order: 1;}
.advanced-layout-right .nav-vertical .sub-menu{left: -220px;}
.advanced-layout-right .nav-vertical li:hover > .sub-menu{left: -210px;}

/*-------------------------------*/
/*- HEADERS ---------------------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- ALIGNMENT LEFT ----------*/
    .header-left .logo{float: left; overflow: hidden;}
    .header-left .site-logo-anchor{margin: 0 10px 0 0;}
    .header-left .sitename{margin: 0 10px 0 0;}

    .header-left .site-logo-anchor img{max-height: 40px; width: auto;}
    .header-left nav{float: right;}

    /*---------------------------*/
    /*- ALIGNMENT RIGHT ---------*/
    .header-right .logo{float: right; overflow: hidden;}
    .header-right .site-logo-anchor{margin: 0 10px 0 0;}
    .header-right .sitename{margin: 0 10px 0 0;}

    .header-right .site-logo-anchor img{max-height: 40px; width: auto;}
    .header-right nav{float: left;}

    /*---------------------------*/
    /*- ALIGNMENT CENTER --------*/
    .header-center{text-align: center;}
    .header-center .logo{float: none;}
    .header-center .mark{display: block;}
    .header-center .sitename{display: block;}
    .header-center .tagline{display: block;}

        .header-center .site-logo-anchor + .sitename{margin-top: 10px;}
        .header-center .site-logo-anchor + .tagline{margin-top: 10px;}
        .header-center .sitename + .tagline{margin-top: 5px;}

    .header-center nav{clear: both; text-align: center; margin-top: 20px;}

    /*---------------------------*/
    /*- ALIGNMENT INLINE --------*/
    .header-inline .logo{text-align: center;}
    .header-inline .site-logo-anchor img{max-height: 40px; width: auto;}

    /*---------------------------*/
    /*- POSITION OVERLAY --------*/
    .header-fixed{background: none; position: absolute; top: 0px; left: 0; width: 100%; z-index: 100;}

    /*---------------------------*/
    /*- NAVIGATION POSITION -----*/
    .nav-clear .logo{float: none;}
    .nav-clear .site-logo-anchor{display: block;}
    .nav-clear .sitename{display: block;}
    .nav-clear .tagline{display: block;}

        .nav-clear .site-logo-anchor + .sitename{margin-top: 10px;}
        .nav-clear .site-logo-anchor + .tagline{margin-top: 10px;}
        .nav-clear .sitename + .tagline{margin-top: 5px;}

    .nav-clear nav{float: none; clear: both; margin: 10px 0;}


/*-------------------------------*/
/*- SLIDER ----------------------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- SLIDER CONTENT ----------*/
    .swiper-slide .copy-container{max-width: 1040px; margin: auto; padding: 0; position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
    .swiper-slide .image-container{position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); text-align: center;}

    /*---------------------------*/
    /*- SLIDER IMAGES -----------*/
    .image-left .copy-container{float: right; width: 49%;}
    .image-left .image-container{float: left; width: 49%;}

    .image-right .copy-container{float: left; width: 49%;}
    .image-right .image-container{float: right; width: 49%;}

    .image-center .container{padding-top: 60px;}
    .image-center .copy-container{clear: both;  margin: auto; text-align: center; top: auto; -webkit-transform: none; -ms-transform: none; transform: none;}
    .image-center .copy-container .excerpt{ margin: auto; }
    .image-center .copy-container.no-image{  position: relative; top: 50%; }
    .image-center .image-container{clear: both; top: auto; -webkit-transform: none; -ms-transform: none; transform: none;}

    /*---------------------------*/
    /*- SLIDER NAVIGATION -------*/

        /*-----------------------*/
        /*- PAGINATION ----------*/
        .swiper-container .pages{position: absolute; bottom: 0px; opacity: 0; z-index: 2000; width: 100%; text-align: center;}
        .swiper-container:hover .pages{bottom: 16px; opacity: 1;}

        .swiper-container .swiper-pagination-switch{display: inline-block; width: 16px; height: 16px; margin: 0 8px; padding: 0; opacity: 0.7; background: transparent; border: 4px solid #fff; border-radius: 100px; overflow: hidden; text-indent: -999px;}
        .swiper-container .swiper-pagination-switch:hover{opacity: 1; background: #fff;}
        .swiper-container .swiper-pagination-switch.swiper-visible-switch.swiper-active-switch{opacity: 1; background: #fff;}

        /*-----------------------*/
        /*- ARROWS --------------*/
        .swiper-container .arrows{position: absolute; top: 50%; width: 100%; z-index: 2000; margin-top: -8px;}
        .swiper-container .arrows a{position: absolute; opacity: 0; display: block; width: 50px; height: 50px; background-repeat: no-repeat; background-position: center; background-size: 16px 30px; overflow: hidden;}
        .swiper-container .arrows .arrow-left{left: 0px; background-image: url(../images/slider-arrow-left.png);}
        .swiper-container .arrows .arrow-right{right: 0px; background-image: url(../images/slider-arrow-right.png);}

        .swiper-container:hover .arrows .arrow-left{left: 10px; opacity: 1;}
        .swiper-container:hover .arrows .arrow-right{right: 10px; opacity: 1;}


/*-------------------------------*/
/*- MAP - ADD ON ----------------*/
/*-------------------------------*/
#hatch-map img{width: auto;}

/*-------------------------------*/
/*- WOOCOMMERCE - ADD ON --------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- PRICE & AMOUNT SETUP ----*/
    .price{display: inline-block;}
    .amount{color: #93B25E; font-weight: 600;}
    .price del{color: #999; margin-right: 5px;}
    del .amount{color: #999; font-weight: 400;}

    /*---------------------------*/
    /*- ON SALE SETUP -----------*/
    .onsale{padding: 2px 10px; background: #454545; border-radius: 0 0 4px 4px; position: absolute; top: 0px; left: 10px; color: #fff; font-size: 1.2rem; font-weight: 600; text-transform: uppercase;}

    /*---------------------------*/
    /*- REMOVE ------------------*/
    .remove{display: block; width: 16px; height: 16px; background: #E1574C url(../images/cross.png) center no-repeat; background-size: 16px 16px; border-radius: 100%; text-indent: -999px; overflow: hidden;}
    .remove:hover{background-color: #B0453D;}

    /*---------------------------*/
    /*- STAR RATINGS ------------*/
    .star-rating{width: 90px; height: 16px; background: url(../images/woocommerce/star.png) repeat-x left 0; background-size: 18px 48px;}
    .star-rating span{background: url(../images/woocommerce/star.png) repeat-x left -32px; height: 0; padding-top: 16px; overflow: hidden; float: left; background-size: 18px 48px;}
    .stars{overflow: hidden; margin-bottom: 0;}
    .stars span{width: 90px; height: 16px; position: relative; float: left; background: url(../images/woocommerce/star.png) repeat-x left 0; background-size: 18px 48px;}
    .stars span a{float: left; position: absolute; left: 0; top: 0; width: 16px; height: 0; padding-top: 16px; overflow: hidden;}
    .stars span a:hover, p.stars span a:focus{background: url(../images/woocommerce/star.png) repeat-x left -16px; background-size: 18px 48px;}
    .stars a.active{background: url(../images/woocommerce/star.png) repeat-x left -32px; background-size: 18px 48px;}
    .stars span a.star-1{width: 18px; z-index: 10; }
    .stars span a.star-2{width: 36px; z-index: 9; }
    .stars span a.star-3{width: 54px; z-index: 8; }
    .stars span a.star-4{width: 72px; z-index: 7; }
    .stars span a.star-5{width: 90px; z-index: 6; }

    /*---------------------------*/
    /*- PRODUCTS SETUP ----------*/
    .products li{padding: 20px; background: #f5f5f5; border-radius: 4px; overflow: hidden;}
    .products li a:first-child{display: block;}
    .products .img-wrap{margin: -20px -20px 20px;}
    .products h3{margin: 0px 0px 10px; font-size: 2.0rem;}
    .products li .star-rating{position: absolute; top: 8px; right: 10px;}
    .products .price{display: inline-block; margin: 0 0 20px;}
    .products .button.add_to_cart_button{}
    .products .added_to_cart{padding: 4px 10px; text-transform: uppercase; font-size: 1.0rem; font-weight: 600;}

    /*---------------------------*/
    /*- PRODUCT SINGLE ----------*/

        /*-----------------------*/
        /*- PRODUCT IMAGES ------*/
        .product-images{position: relative;}
        .product-images img{display: block; border-radius: 4px;}

        /*-----------------------*/
        /*- PRODUCT DESCRIPTION -*/
        .entry-title{font-size: 4.4rem;}/*-- section-title.large --*/
        div[itemprop="offers"]{margin: 20px 0; font-size: 2.4rem;}
        div[itemprop="description"]{margin-bottom: 20px; font-size: 2.0rem; color: #8F8F8F;}/*-- section-title --*/

            /*-------------------*/
            /*- PRODUCT CART ----*/
            .cart{margin-bottom: 20px; overflow: hidden;}
            .quantity{float: left; margin-right: 20px;}
            .quantity input{float: left; height: 36px;}
            .qty{width: 60px; text-align: center; border-left: none; border-right: none; border-radius: 0px;}
            .minus, .plus{width: 40px; background: #454545; border-radius: 4px 0 0 4px; color: #fff; font-weight: 600; text-align: center;}
            .plus{border-radius: 0 4px 4px 0;}
            .single_add_to_cart_button{float: left;}

            /*-------------------*/
            /*- PRODUCT META ----*/
            .product_meta{padding: 10px; margin-bottom: 20px; background: #f5f5f5; border-radius: 4px;}
            .product_meta .sku_wrapper, .product_meta .posted_in{display: block; text-transform: uppercase; font-size: 1.0rem; font-weight: 600;}

        /*-----------------------*/
        /*- WOOCOMMERCE TABS ----*/
        .woocommerce-tabs{margin-bottom: 20px; overflow: hidden;}
        .woocommerce-tabs .panel{padding: 20px; background: #f3f3f3; border-radius: 0 4px 4px 4px;}

        .woocommerce-tabs .tabs{padding: 20px 0 0; background: #fff; text-align: center; overflow: hidden; border-radius: 4px 4px 0 0;}
        .woocommerce-tabs .tabs li{float: left; margin-right: 10px;}
        .woocommerce-tabs .tabs a{display: block; padding: 6px 15px; background: #eee; border-radius: 4px 4px 0 0; font-weight: 600; color: #8F8F8F;}
        .woocommerce-tabs .tabs a:hover{color: #454545; background: #F3F3F3;}
        .woocommerce-tabs .tabs .active a{background: #F3F3F3; color: #454545;}

    /*---------------------------*/
    /*- ENTRY CONTENT -----------*/
    .entry-content h2{margin-bottom: 10px; font-size: 2.4rem;}


    /*---------------------------*/
    /*- SIDEBAR/WIDGET SETUP ----*/
    .sidebar .amount{font-size: 1.2rem;}

    /*---------------------------*/
    /*- PRODUCT LIST ------------*/
    .product_list_widget li{overflow: hidden; position: relative;}
    .product_list_widget img{float: right; max-width: 40px; border-radius: 4px;}
    .product_list_widget a{display: block;}

    /*---------------------------*/
    /*- SHOPPING CART -----------*/
    table.shop_table{margin-bottom: 20px;}
    table .product-remove{width: 16px;}
    table .product-thumbnail{width: 65px;}
    table .product-thumbnail img{max-width: 65px; border-radius: 4px;}
    table .product-price{text-align: right;}
    table .product-quantity{text-align: center;}
    table .product-subtotal{text-align: right;}
    table .actions{text-align: right;}

        table .product-quantity .quantity{display: inline-block; float: none; margin: 0;}

        /*-----------------------*/
        /*- COUPON --------------*/
        .coupon{float: left; width: 50%; font-size: 0; text-align: left;}
        .coupon label{display: none;}
        .coupon input[type=text]{max-width: 150px; border-right: none; border-radius: 4px 0 0 4px;}
        .coupon .button{border-radius: 0 4px 4px 0;}

    /*---------------------------*/
    /*- CART COLLATERALS --------*/
    .cart-collaterals{float: right; width: 49%;}

    .cart_totals h2, .shipping_calculator h2{margin-bottom: 10px; font-size: 2.4rem;}


/*-------------------------------*/
/*- WOOCOMMERCE - SUPER SINGLE --*/
/*-------------------------------*/
.special.product-images{padding: 500px 0 0; overflow: hidden;}
.special.product-images .woocommerce-main-image{position: absolute; width: 100%; bottom: 0;}
.special.product-images .thumbnails-container{}
.special.product-images .thumbnails{overflow: hidden; margin-left: 510px; margin-bottom: 20px; position: relative; z-index: 2;}
.special.product-images .thumbnails a{display: block; float: left; max-width: 120px; margin-right: 20px; border-radius: 4px;}
.special.product-images .thumbnails img{display: block; border-radius: 4px; border: 4px solid #fff;}