/*-------------------------------*/
/*- html5doctor.com Reset Stylesheet http://richclarkdesign.com -*/
/*-------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; list-style: none;}
body{line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}
nav ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:''; content:none;}
a{margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none;}
ins{text-decoration:none;}
mark{font-style:italic; font-weight:bold;}
del{text-decoration: line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted; cursor:help;}
table{border-collapse:collapse; border-spacing:0;}
hr{display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0;}
input, select{vertical-align:middle;}


/*-------------------------------*/
/*- CLEARFIX --------------------*/
/*-------------------------------*/
.clearfix:before, .clearfix:after{content: " "; display: table;}
.clearfix:after{clear: both;}
.clearfix {*zoom: 1;}

.row:before, .row:after{content: " "; display: table;}
.row:after{clear: both;}
.row{*zoom: 1;}

.btn-group:before, .btn-group:after{content: " "; display: table;}
.btn-group:after{clear: both;}
.btn-group{*zoom: 1;}

.form-row:before, .form-row:after{content: " "; display: table;}
.form-row:after{clear: both;}
.form-row{*zoom: 1;}

.title:before, .title:after{content: " "; display: table;}
.title:after{clear: both;}
.title{*zoom: 1;}

nav:before, nav:after{content: " "; display: table;}
nav:after{clear: both;}
nav{*zoom: 1;}

/*-------------------------------*/
/*- SETUP -----------------------*/
/*-------------------------------*/
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html{font-size: 62.5%; -webkit-text-size-adjust: none; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; text-rendering: optimizeLegibility;}
body{font-size: 1.5rem; line-height: 1.55; font-family: "Roboto", "Source Sans Pro",  "Open Sans", "Helvetica Neue", Helvetica, sans-serif; color: #777; background: #454545;}
code{display: inline; padding: 4px 6px; background: #eee; color: #8F8F8F; font-size: 85%; font-weight: 600; font-family: "Courier New", Courier, monospace; border-radius: 4px;}
strong{font-weight: 600;}
small{font-size: 1.2rem; color: #8F8F8F;}

pre{padding: 20px 20px 0px; margin-bottom: 20px; background: #f5f5f5; border: 1px solid #ddd; color: #323232; font-family: "Courier New", Courier, monospace; border-radius: 4px;}

img{max-width: 100%; height: auto;}
iframe, embed, object{max-width: 100%;}

a{color: #454545;}
a:hover{color: #7D8FA2;}

h1, h2, h3, h4, h5, h6{color: #000; font-weight: 200;}

.desktop-collapse{display: none;}

.cursor-clickable{cursor: pointer;}
.cursor-resizable{cursor: ew-resize;}
.cursor-grabable{cursor: -webkit-grab; cursor: -moz-grab;}

.hide{display: none;}
.animate{transition: all 0.2s ease-in-out;}

/*-------------------------------*/
/*- GRIDS -----------------------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- ROWS AND COLUMNS --------*/
    .column{float: left; margin: 0 2% 20px 0; position: relative;}
    .column-flush{float: left; margin: 0; position: relative;}
    .row .column:last-child{margin-right: 0;}

    .span-1{width: 6.5%;}
    .span-2{width: 15%;}
    .span-3{width: 23.5%;}
    .span-4{width: 32%;}
    .span-5{width: 40.5%;}
    .span-6{width: 49%;}
    .span-7{width: 57.5%;}
    .span-8{width: 66%;}
    .span-9{width: 74.5%;}
    .span-10{width: 83%;}
    .span-11{width: 91.5%;}
    .span-12{width: 100%;}

    .column-flush.span-1{width: 8.333333%;}
    .column-flush.span-2{width: 16.6667%;}
    .column-flush.span-3{width: 25%;}
    .column-flush.span-4{width: 33.33333%;}
    .column-flush.span-5{width: 41.66665%;}
    .column-flush.span-6{width: 50%;}
    .column-flush.span-7{width: 58.1%;}
    .column-flush.span-8{width: 66.4%;}
    .column-flush.span-9{width: 74.7%;}
    .column-flush.span-10{width: 83%;}
    .column-flush.span-11{width: 91.3%;}
    .column-flush.span-12{width: 100%;}

    .offset-1{margin-right: 8.5%;}
    .offset-2{margin-right: 17%;}
    .offset-3{margin-right: 25.5%;}
    .offset-4{margin-right: 34%;}
    .offset-5{margin-right: 42.5%;}
    .offset-6{margin-right: 51%;}
    .offset-7{margin-right: 59.5%;}
    .offset-8{margin-right: 68%;}
    .offset-9{margin-right: 76.5%;}
    .offset-10{margin-right: 85%;}
    .offset-11{margin-right: 93.5%;}

    .offset-left-1{margin-left: 8.5%;}
    .offset-left-2{margin-left: 17%;}
    .offset-left-3{margin-left: 25.5%;}
    .offset-left-4{margin-left: 34%;}
    .offset-left-5{margin-left: 42.5%;}
    .offset-left-6{margin-left: 51%;}
    .offset-left-7{margin-left: 59.5%;}
    .offset-left-8{margin-left: 68%;}
    .offset-left-9{margin-left: 76.5%;}
    .offset-left-10{margin-left: 85%;}
    .offset-left-11{margin-left: 93.5%;}

    .pull-left-1{margin-left: -8.5%;}
    .pull-left-2{margin-left: -17%;}
    .pull-left-3{margin-left: -25.5%;}
    .pull-left-4{margin-left: -34%;}
    .pull-left-5{margin-left: -42.5%;}
    .pull-left-6{margin-left: -51%;}
    .pull-left-7{margin-left: -59.5%;}
    .pull-left-8{margin-left: -68%;}
    .pull-left-9{margin-left: -76.5%;}
    .pull-left-10{margin-left: -85%;}
    .pull-left-11{margin-left: -93.5%;}

    .pull-right-1{margin-right: -8.5%;}
    .pull-right-2{margin-right: -17%;}
    .pull-right-3{margin-right: -25.5%;}
    .pull-right-4{margin-right: -34%;}
    .pull-right-5{margin-right: -42.5%;}
    .pull-right-6{margin-right: -51%;}
    .pull-right-7{margin-right: -59.5%;}
    .pull-right-8{margin-right: -68%;}
    .pull-right-9{margin-right: -76.5%;}
    .pull-right-10{margin-right: -85%;}
    .pull-right-11{margin-right: -93.5%;}


    .row .column.span-1:nth-child(12n+12){margin-right: 0;}
    .row .column.span-2:nth-child(6n+6){margin-right: 0;}
    .row .column.span-3:nth-child(4n+4){margin-right: 0;}
    .row .column.span-3:nth-child(4n+5){clear: left;}
    .row .column.span-4:nth-child(3n+3){margin-right: 0;}
    .row .column.span-4:nth-child(3n+4){clear: left;}
    .row .column.span-6:nth-child(2n+2){margin-right: 0;}
    .row .column.span-6:nth-child(2n+3){clear: left;}


    .no-gutter{margin-right: 0;}

    .middled, .row .column.middled{float: none; margin: auto;}

    .separate{padding-bottom: 20px; margin-bottom: 40px; border-bottom: 2px solid #ddd;}

    .with-background{background-size: cover; background-position: center; background-repeat: no-repeat;}

    .hold{position: relative;}

    .clearit{clear: both;}

    .text-left{text-align: left;}
    .text-right{text-align: right;}
    .text-center{text-align: center;}
    .text-justify{text-align: justify;}

    .image-left{}
    .image-right{}
    .image-center{}

/*-------------------------------*/
/*- CONTAINERS ------------------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- WRAPPERS ----------------*/
    #wrapper-site, .wrapper-site{background: #fff; position: relative;}
    .wrapper-content{position: relative;}

    .single-element-page #wrapper{background: none;}
    .dashboard #wrapper{background: none;}

    /*---------------------------*/
    /*- CONTAINER ---------------*/
    .container{max-width: 1040px; margin: auto; padding: 0 20px;}

    /*---------------------------*/
    /*- COUNTER FOR SEPARATORS --*/
    .count:nth-child(even){background: #F3F3F3;}
    .count:nth-child(odd){background: #fff;}

    /*---------------------------*/
    /*- WELLS -------------------*/
    .well{background: #F3F3F3;}
    .well-block{background: #fff; border: 3px solid #eee;}

    /*---------------------------*/
    /*- SCROLL BLOCK ------------*/
    .scroll-block{overflow-y: scroll;}
    .scroll-block.scroll-block-small{height: 250px; overflow-y: scroll;}
    .scroll-block.scroll-block-large{height: 500px; overflow-y: scroll;}

    /*---------------------------*/
    /*- CONTENT -----------------*/
    .content{padding: 20px;}
    .content-main{padding: 60px 20px;}
    .content-small{padding: 10px;}
    .content-large{padding: 30px;}
    .content-extra-large{padding: 40px;}
    .content-massive{padding: 60px;}
    
    .content-vertical{padding-top: 20px; padding-bottom: 20px;}
    .content-vertical-large{padding-top: 30px; padding-bottom: 30px;}
	.content-vertical-extra-large{padding-top: 40px; padding-bottom: 40px;}
	.content-vertical-massive{padding-top: 60px; padding-bottom: 60px;}

    .sky{padding-top: 100px;}
    .basement{padding-bottom: 60px;} /*-- content already adds 40px to the base --*/


    /*---------------------------*/
    /*- PANEL -------------------*/
    .panel{overflow: hidden; margin-bottom: 20px;}
    .panel ul{border: 2px solid #ddd; border-radius: 4px;}
    .panel li{padding: 10px; border-top: 2px solid #ddd; background: #fff;}
    .panel li:first-child{border-top: none;}

    .panel .panel-title{padding: 8px 10px; color: #fff; background: #454545; border-radius: 4px 4px 0 0; font-weight: 600;}
    .panel .panel-title + ul{border-top: none; border-radius: 0 0 4px 4px;}
    .panel li .heading{margin-bottom: 5px; text-transform: uppercase; font-size: 1.0rem; font-weight: 600; color: #999;}


/*-------------------------------*/
/*- HEADERS ---------------------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- SITE WIDE HEADER --------*/
    header{/*width: 100%; position: fixed; top: 0; left: 0; z-index: 20;*/}
    header .container{max-width: 1040px;}
    header .column{margin-bottom: 0;}
    header.stick{background: none;}


    /*---------------------------*/
    /*- LOGO --------------------*/
    .logo{float: left; padding: 0;}

    .site-logo-anchor, .mark{display: inline-block; vertical-align: middle; margin: auto; font-size: 0;}
    .site-logo-anchor img, .mark img{display: inline-block; margin: auto; width: auto;}
    .site-logo-anchor.small img{max-height: 40px;}
    
    .site-description{display: inline-block; vertical-align: middle;}
    .sitename{font-size: 2rem; font-weight: 600;}
    .tagline{color: #8F8F8F; font-weight: 600;}

	.mark + .sitename{margin-top: 10px;}

	.column .logo{float: none;}


    /*---------------------------*/
    /*- PAGE TITLES -------------*/
    .title-container{background: #F3F3F3;}
    .title-container .heading{font-size: 4.4rem; line-height: 1.2; color: #323232;}
    .title-container .sub-heading{margin-top: 10px; font-size: 2.0rem; color: #454545; text-transform: uppercase;}
    .title-container .sub-heading + .btn-group{margin-top: 30px;}
    .title-container .excerpt{max-width: 745px; margin-top: 10px; font-size: 2.4rem; color: #8F8F8F;}
    .title-container .excerpt + .btn-group{margin-top: 30px;}
    .title-container .excerpt + .btn-collection{margin-top: 30px;}
    .title .text-center .excerpt{margin-left: auto; margin-right: auto;}

    .title{padding: 60px 20px; max-width: 1040px; margin: auto;}
    .title.small{padding: 10px;}
    .title.large{padding: 30px;}
    .title.extra-large{padding: 40px;}
    .title.massive{padding: 60px;}
    
    .title .column{margin-bottom: 0;}
    .title img{display: block;}


    /*---------------------------*/
    /*- SECTION TITLES ----------*/
    .section-title{margin-bottom: 40px;}
    .section-title .heading{font-size: 2.8rem; color: #323232;}
    .section-title .heading a{color: #454545;}
    .section-title .heading a:hover{color: #323232;}
    .section-title .excerpt{max-width: 745px; font-size: 2.0rem; color: #8F8F8F;}
    .section-title .heading + p{margin-top: 5px;}
    .section-title .excerpt + .button{margin-top: 15px;}
    .section-title .the-date{margin-top: 5px; font-size: 1.4rem; text-transform: uppercase; color: #8F8F8F;}

        /*-----------------------*/
        /*- SECTION SIZE --------*/
        .section-title.large .heading{font-size: 4.4rem; line-height: 1.2;}
        .section-title.large .excerpt{max-width: 830px; font-size: 2.6rem;}

        .section-title.small{margin-bottom: 15px;}
        .section-title.small .heading{font-size: 2.4rem;}
        .section-title.small .excerpt{font-size: 1.6rem;}

        .section-title.tiny{margin-bottom: 15px;}
        .section-title.tiny .heading{font-size: 1.6rem; font-weight:  700;}
        .section-title.tiny .excerpt{margin-top: 0px !important; font-size: 1.4rem;}

    .section-title + .container{margin-top: 60px;}

    /*---------------------------*/
    /*- SECTION HEROES ----------*/
    .section-hero h3{padding-top: 60px;}
    .section-hero-image{margin-bottom: 20px;}

    .section-hero-small{margin-bottom: 20px;}
    .section-hero-small h4{margin-bottom: 15px; font-size: 2.0rem; font-weight: 600; color: #323232;}
    .section-hero-small p{font-size: 1.6rem;}

    /*---------------------------*/
    /*- SECTION ALIGNMENTS ------*/
    .section-title.text-center{text-align: center;}
    .section-title.text-center .excerpt{margin-left: auto; margin-right: auto;}

    /*---------------------------*/
    /*- SECTION NAV -------------*/
    .section-nav-title{margin: 0 0 10px 0; font-size: 1.2rem; font-weight: 600; text-transform: uppercase; color: #8F8F8F;}


/*-------------------------------*/
/*- FOOTER ----------------------*/
/*-------------------------------*/
.footer{clear: both;}
.footer .container{max-width: 1040px;}
.footer .section-nav-title{color: #323232; margin-bottom: 15px;}

.link-list li{margin: 0 0 6px;}


/*-------------------------------*/
/*- NAVIGATION ------------------*/
/*-------------------------------*/

    header nav{margin: 10px 0; line-height: 40px;}

    .nav{vertical-align: middle; display: inline-block;}
    .nav li{position: relative;}
    .nav a{transition: all 0.2s ease-in-out; color: #323232;}
    .nav a:hover{color: #8f8f8f;}

    /*---------------------------*/
    /*- RESPONSIVE BUTTON -------*/
    .responsive-nav{float: right; display: none; width: 24px; padding: 8px 0; margin: 0;}

        .icon-bar{display: block; height: 4px; margin: 2px 0px; background: #454545; border-radius: 100px;}
        .icon-bar-group{display: block; float: left;}

        .stick .icon-bar{background: #fff;}
        .dashboard-content .icon-bar{background: #fff;}

        /*-----------------------*/
        /*- SMALL - *test* ------*/
        .responsive-nav.small{float: none; width: auto; height: auto; padding: 6px 0; margin: 0; border-radius: 0; background: none; height: 30px;}
        .responsive-nav.small .responsive-nav-title{float: left; margin-left: 10px; text-transform: uppercase; font-size: 1.1rem; font-weight: 600; color: #999;}
        .responsive-nav.small .icon-bar{height: 2px; width: 15px; margin: 3px 0px; background: #999;}
        .responsive-nav.small:hover .icon-bar{background: #454545;}
        .responsive-nav.small:hover .responsive-nav-title{color: #454545;}

        .open .responsive-nav.small{background: #ddd; margin: -20px -20px 10px; padding: 6px 20px;}


    /*---------------------------*/
	.nav-horizontal li{float: left; margin: 0 10px}
    .nav-horizontal a{display: block; font-weight: 600; color: #323232; text-align: center;}
    .nav-horizontal a:hover{color: #8F8F8F;}

    .nav-horizontal .special{border: none; font-size: 88%;;}
    .nav-horizontal .special > a{border: 2px solid #8F8F8F; color: #454545; padding: 2px 10px;}
    .nav-horizontal .special > a:hover{background: #454545; border-color: #454545; color: #fff;}

    .nav-horizontal .special.first{margin-right: 0;}
    .nav-horizontal .special.last{margin-left: 0;}
    .nav-horizontal .special.first > a{border-radius: 4px 0px 0px 4px;}
    .nav-horizontal .special.last > a{border-radius: 0px 4px 4px 0px; border-left: none;}


    /*---------------------------*/
    /*- HORIZONTAL NAV CENTERED -*/
	.nav-centered{text-align: center; width: 100%;}
	.nav-centered li{float: none; display: inline-block; margin: 0;}


    /*---------------------------*/
    /*- VERTICAL NAV ------------*/
    .nav-vertical{clear: both;}
    .nav-vertical a{display: block; padding: 5px 0px; font-weight: 600;}
    .nav-vertical a:hover{background: #eee; color: #323232;}
    .nav-vertical a[target="_blank"]{background-image: url(images/new-window-icon.png); background-position: 125px 10px; background-repeat: no-repeat; background-size: 12px 12px;}

    /*---------------------------*/
    /*- INLINE NAV --------------*/
    .nav-inline{font-size: 1.2rem;}
    .nav-inline li{display: inline; margin: 0 15px;}

        /*-----------------------*/
        /*- INLINE NAV - FOOTER -*/
        .nav-inline a{color: rgba(255, 255, 255, 0.65);}
        .nav-inline a:hover{color: #fff;}


    /*---------------------------*/
    /*- TABBED NAV --------------*/
	.nav.large{font-size: 2.0rem;}
	.nav.medium{font-size: 1.6rem;}

    /*---------------------------*/
    /*- TABBED NAV --------------*/
    .nav-tabs{padding: 20px 20px 0; background: #eee; text-align: center;}
    .nav-tabs ul{overflow: hidden; max-width: 1000px; margin: auto;}
    .nav-tabs li{float: left; margin-right: 10px;}
    .nav-tabs a{display: block; padding: 6px 15px; background: #F3F3F3; border-radius: 4px 4px 0 0; font-weight: 600; color: #8F8F8F;}
    .nav-tabs a:hover{color: #454545; background: #F3F3F3;}
    .nav-tabs .active a{background: #fff; color: #454545;}

    /*---------------------------*/
    /*- PILL NAV ----------------*/
    .nav-pills{display: inline-block; overflow: hidden; margin: 0 10px 20px 0;}
    .nav-pills li{float: left; margin: 0 10px 0 0;}
    .nav-pills a{display: block; padding: 4px 8px; border: 2px solid #ddd; font-weight: 600; color: #8F8F8F; border-radius: 4px;}
    .nav-pills a:hover{background: #8F8F8F; border-color: #454545; color: #fff;}
    .nav-pills .active a{background: #8F8F8F; border-color: #454545; color: #fff;}

    .nav-pills span{display: block; padding: 4px 8px; font-weight: 600; color: #323232;}

        .nav-pills-group{margin-bottom: 20px; position: relative; overflow: hidden;}
        .nav-pills-group .nav-pills{margin-bottom: 0;}

    /*---------------------------*/
    /*- SORTABLE NAV ------------*/
    .nav-sort{margin-bottom: 20px;}
    .nav-sort li{margin-bottom: 3px;}
    .nav-sort a{display: block; padding: 2px 10px 2px 26px; font-size: 1.3rem; font-weight: 600; background: #eee url(images/sort-nav.png) 9px 9px no-repeat; color: #454545; border-radius: 4px;}
    .nav-sort a:hover{background-color: #454545; background-position: 9px -49px; color: #fff;}
    .nav-sort a.active{background-color: #454545; color: #fff; background-position: 9px -165px;}
    .nav-sort a.active:hover{background-color: #323232; color: #fff; background-position: 9px -107px;}

    .nav-small a, .nav-small span{padding: 3px 8px; font-size: 1.2rem;}

    /*---------------------------*/
    /*- SUB NAV -----------------*/
    .sub-menu{visibility: hidden; opacity: 0; background: #fff; border-radius: 4px; border: 2px solid #ddd; position: absolute; top: 30px; z-index: 5; transition: all 0.2s ease-in-out;}
    .sub-menu li{clear: both; display: block; margin: 0; border: none; border-bottom: 1px dotted #ddd;}
    .sub-menu li:last-child{border-bottom: none;}
    .sub-menu li a{display: block; padding: 6px 10px; background: none; color: #454545; border-radius: 0; text-transform: none; text-align: left;}
    .sub-menu li a:hover{background: #454545; color: #fff;}
    .sub-menu li:first-child a{border-radius: 3px 3px 0 0;}
    .sub-menu li:last-child a{border-radius: 0 0 3px 3px;}

    .nav-vertical .sub-menu{width: 200px; left: 150px; top: -3px; box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);}
    .nav-vertical .sub-menu{}
    .nav-vertical li:hover > .sub-menu{top: -3px; left: 140px;}
    nav li:hover > .sub-menu {visibility: visible; opacity: 1; top: 40px;}

    /*---------------------------*/
    /*- ABOLUTE NAV -------------*/
    .nav-absolute{width: 100%; padding: 5px 10px; position: absolute; font-size: 1.2rem; color: #999;}
    .nav-absolute li{display: inline;}
    .nav-absolute a{color: #ccc;}
    .nav-absolute a:hover{color: #fff;}

    /*---------------------------*/
    /*- STICKY NAV --------------*/
    .sticky-nav{width: 100%; padding: 8px 0px; background-color: rgba(255, 255, 255, 0.95); position: fixed; top: -50px; box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1); overflow: hidden; z-index: 11; opacity: 0; visibility: hidden; transition: all 0.2s ease-in-out;}
    .sticky-nav.sticky-nav-on{opacity: 1; visibility: visible; top: 0px;}
    .sticky-nav h4{padding: 2px 0; font-size: 2.0rem;}
    .sticky-nav h4 small{margin-left: 10px; text-transform: uppercase;}

    /*---------------------------*/
    /*- BREAD CRUMBS ------------*/
    .bread-crumbs{display: inline-block; margin: 0 0 15px; font-size: 1.2rem; overflow: hidden; color: #777;}
    .bread-crumbs li{float: left; margin-right: 10px;}
    .bread-crumbs a{color: #454545;}
    .bread-crumbs a:hover{color: #454545; text-decoration: underline;}

    .title-small .bread-crumbs{margin: -30px 0 25px;}


    /*---------------------------*/
    /*- PAGINATION --------------*/
    .pagination{display: inline-block; overflow: hidden; margin: 0 20px 20px 0;}
    .pagination li{float: left; border-right: 1px solid #eee; font-weight: 600; font-size: 1.2rem; text-align: center;}
    .pagination li:first-child a{border-radius: 4px 0px 0px 4px;}
    .pagination li:last-child{border-right: none;}
    .pagination li:last-child a{border-radius: 0px 4px 4px 0px;}
    .pagination a{display: inline-block; min-width: 38px; padding: 4px 10px; background: #f5f5f5; color: #454545;}
    .pagination a:hover{background: #454545; color: #fff;}
    .pagination .active{border-color: #323232;}
    .pagination .active a{background: #454545; color: #fff;}

    .pagination li.previous a{border-radius: 4px 0px 0px 4px;}
    .pagination li.next{margin-right: 10px; border: none;}
    .pagination li.next a{border-radius: 0 4px 4px 0;}
    .pagination li.next + li a{border-radius: 4px 0px 0px 4px;}
    

/*-------------------------------*/
/*- COMPONENTS ------------------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- BACK TO TOP -------------*/
    #back-to-top{position: fixed; bottom: 30px; right: 30px; z-index: 10;}
    #back-to-top a{display: block; width: 32px; height: 32px; background: url(/images/arrow-up-small.png) no-repeat; background-size: 32px 32px; text-indent: -999px; overflow: hidden;}

    /*---------------------------*/
    /*- MEDIA BLOCK -------------*/
    .media{display: block; overflow: hidden;}
    .media .media-object{float: left; margin-right: 15px;}
    .media .media-object img{display: block;}
    .media .media-body{overflow: hidden;}

    .media h4{font-size: 1.6rem; font-weight: 600; color: #323232;}

    /*---------------------------*/
    /*- AVATARS -----------------*/
    .avatar{display: block; position: relative; }
    .avatar .avatar-image{display: block; float: left; margin-right: 10px; max-width: 64px; border: 3px solid #454545; border-radius: 100%; position: relative; z-index: 1;}
    .avatar .avatar-image img{display: block; margin: auto; border-radius: 100%;}
    .avatar .avatar-body{overflow: hidden; padding: 5px 0;}
    .avatar .avatar-body a{display: block; font-weight: 600;}

    .avatar.middled{margin-left: auto; margin-right: auto; text-align: center;}
    .avatar.middled .avatar-image{float: none; margin: auto;}


    /*---------------------------*/
    /*- MARKETING BLOCK ---------*/
    .marketing{overflow: hidden; margin-bottom: 20px; display: block;}

    .marketing-icon{float: left; margin-right: 15px;}
    .marketing-icon img{display: block; margin: auto;}
    .marketing-icon.small{max-width: 64px;}

    .marketing .marketing-body{display: block; overflow: hidden;}

    .marketing .heading{display: block; font-size: 2.0rem; font-weight: 600;}
    .marketing .heading span{display: block; text-transform: uppercase; color: #8F8F8F; font-size: 1.2rem; font-weight: 600;}
    .marketing .heading + .excerpt{display: block; font-size: 1.6rem; margin-top: 8px;}

    .marketing p{margin-top: 8px;}
    .marketing ul{margin-top: 8px;}

    .marketing .btn-group{margin-top: 15px;}
    .marketing .button{margin-top: 15px;}
    .marketing .btn-group .button{margin-top: 0px;}

    .marketing.image-center .marketing-icon{float: none; width: 100%; text-align: center; margin-right: auto; margin-left: auto;}
    .marketing.image-center .marketing-body{float: none; width: 100%; padding: 20px 0 0; text-align: center;}

    .marketing.image-right .marketing-icon{float: right; margin-right: 0; margin-left: 15px;}

    .marketing.small .marketing-icon{margin-right: 10px;}
    .marketing.small .heading{font-size: 1.6rem; font-weight: 600; color: #323232;}
    .marketing.small .excerpt{font-size: 1.4rem;}
    .marketing.small .heading + .excerpt{margin-top: 5px;}

    /*---------------------------*/
    /*- THUMBNAIL BLOCK ---------*/
    .thumbnail{position: relative; overflow: hidden;}
    .thumbnail img{display: block; margin: auto;}

    .thumbnail-title{padding: 0px 20px 20px;}
    .thumbnail-title.small{padding: 0px 10px 10px;}

    .thumbnail-media{display: block; overflow: hidden; position: relative;}
    .thumbnail-media img{transform: scale(1); transition: 0.2s all ease-in-out;}
    .thumbnail-media:hover img{transform: scale(1.05);}

    .thumbnail-body{padding: 20px; overflow: hidden; background: #f5f5f5;}

    .thumbnail .heading{margin: 0; color: #8F8F8F; font-size: 1.8rem;}
    .thumbnail .heading.small{font-size: 1.2rem;}

    .thumbnail-body p{margin: 10px 0 0;}
    .thumbnail-body p + .feature-list{margin: 20px 0 0;}
    .thumbnail-body .button{margin-top: 20px;}

    .thumbnail-body.body-small{padding: 0px 10px 10px;}

    .thumbnail .btn-group{margin: 20px 0 0;}
    .thumbnail .btn-collection{margin: 20px 0 0;}

        /*-----------------------*/
        /*- OVERLAY -------------*/
        .with-overlay{width: 100%; overflow: hidden; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);}
        .with-overlay img{position: relative; z-index: 1;}
        .with-overlay .overlay{position: absolute; top: 0; left: 0; z-index: 2; width: 100%; height: 100%; padding: 35% 20px 0; text-align: center; visibility: hidden; opacity: 0;
                                background: rgba(0,0,0,0.65);
                                transition: 0.2s all ease-in-out;}
        .with-overlay .heading{display: block; color: #fff; position: relative; top: 10px; opacity: 0; transition: 0.2s all ease-in-out; transition-delay: 0.2s;}
        .with-overlay .button{margin-top: 15px; background: none; border: 2px solid #fff; position: relative; top: 10px; opacity: 0; transition: 0.2s all ease-in-out; transition-delay: 0.25s;}

            /*-------------------*/
            /*- OVERLAY HOVER ---*/
            .with-overlay:hover .overlay{visibility: visible; opacity: 1;}
            .with-overlay:hover .heading{top: 0; opacity: 1;}
            .with-overlay:hover .button{top: 0; opacity: 1;}


        /*-----------------------*/
        /*- SLIDE2REVEAL THUMB --*/
        .thumbnail .thumbnail-overlay{transition: all 0.2s ease-in-out; position: relative; background-color: #454545; border-radius: 4px;}
        .thumbnail .thumbnail-overlay .thumbnail-media{width: 354px; height: 400px; position: absolute; top: 0; right: 0; z-index: 2; transition: all 0.2s ease-in-out; border-radius: 2px;}
        .thumbnail .thumbnail-overlay .thumbnail-body{z-index: 1; padding: 40px 60px 40px 40px; min-height: 400px; position: relative; right: 10px; opacity: 0; transition: all 0.5s ease-in-out; font-size: 1.6rem;}

        .thumbnail .thumbnail-overlay:hover{border-color: #323232;}
        .thumbnail .thumbnail-overlay:hover .thumbnail-media{right: -95%;}
        .thumbnail .thumbnail-overlay:hover .thumbnail-body{opacity: 1; left: 0px;}
        .thumbnail .thumbnail-overlay:hover .thumbnail-body h4 a{color: #fff;}
        .thumbnail .thumbnail-overlay:hover .thumbnail-body h4 a:hover{color: #fc0;}
        .thumbnail .thumbnail-overlay:hover .thumbnail-body h5{color: rgba(255, 255, 255, 0.8);}
        .thumbnail .thumbnail-overlay:hover .thumbnail-body p{color: rgba(255, 255, 255, 0.8);}

    /*---------------------------*/
    /*- FEATURE LIST ------------*/
    .feature-list{margin-bottom: 26px;}
    .feature-list li{padding-left: 26px; margin-bottom: 10px; background: url(images/icon-tick-small.png) 0 3px no-repeat; background-size: 16px 16px;}
    .feature-list li.cross{background-image: url(images/cross.png); background-size: 16px 16px;}

        .feature-list-large{font-size: 1.6rem;}
        .feature-list-large li{padding-left: 44px; background: url(images/tick-large.png) left no-repeat;}

        .panel .feature-list li{padding-left: 36px; margin-bottom: 0; background-position: 10px 12px;}

    /*---------------------------*/
    /*- META --------------------*/
    .meta{font-size: 1.2rem; overflow: hidden; color: #8F8F8F; text-transform: uppercase;}
    .meta-list{overflow: hidden;}
    .meta-list li{padding: 5px 0px;}
    div + .meta-list{margin-top: 10px;}


    /*---------------------------*/
    /*- INSTRUCTIONS ------------*/
    .instructions{margin-bottom: 20px; border-radius: 4px; color: #323232;}
    .instructions h5{margin-bottom: 10px; font-size: 1.4rem; font-weight: 600;}

    .instructions ol{list-style: decimal; margin: 20px 0px 20px 20px;}

    .instruction-warning{background: #ffc; border: 3px solid #FFCC66;}
    .instruction-error{background: #FFA799; border: 3px solid #D15F5F;}
    .instruction-success{background: #C3E6B3; border: 3px solid #9AB78E;}
    .instruction-nofrill{background: #fff; border: 3px solid #ddd;}

        /*-----------------------*/
        /*- INSTRUCTIONS TABLES -*/
        table td.instruction.instruction-warning{background: inherit; border-bottom: 1px dotted #ddd; border-right: 2px solids #ddd; border-left: 2px solid #FFCC66; border-top: none;}
        table td.instruction.instruction-success{background: inherit; border-bottom: 1px dotted #ddd; border-right: 2px solids #ddd; border-left: 2px solid #9AB78E; border-top: none;}
        table td.instruction.instruction-error{background: inherit; border-bottom: 1px dotted #ddd; border-right: 2px solids #ddd; border-left: 2px solid #D15F5F; border-top: none;}


    /*---------------------------*/
    /*- STATUS ------------------*/
    .status.status-warning{border-left-color: #FFCC66;}
    .status.status-success{border-left-color: #9AB78E;}
    .status.status-error{border-left-color: #D15F5F;}


    /*---------------------------*/
    /*- PROFILE BLOCK -----------*/
    .profile-body .balance{display: block; font-weight: 600; color: #fc0;}
    .profile-body .last-update{color: #999; font-style: normal;}


    /*---------------------------*/
    /*- DATE DROP DOWN ----------*/
    .dates{float: right; text-align: left; padding: 3px 3px 3px 25px; background: url(images/date-hover.png) 5px center no-repeat; background-size: 14px 14px; border: 2px solid #ddd; border-radius: 4px; color: #999 !important; font-size: 0;}
    .dates input[type=text]{display: inline-block; width: auto; height: auto; padding: 4px; border: none; color: #8F8F8F; font-size: 1.3rem; font-weight: 600; vertical-align: middle; text-align: center; cursor: pointer;}
    .dates input[type=text]:first-of-type{background: #f5f5f5;}
    .dates input[type=text]:last-of-type{background: #f0f0f0;}
    .dates input[type=text]:hover{background: #ddd;}
    .dates button{padding: 0 10px; margin-left: 3px; border: none; font-size: 1.2rem;}
    .dates span{display: inline-block; font-size: 1.3rem; vertical-align: middle; margin: 0 4px; font-style: italic;}
    .dates:hover{border-color: #ccc;}
    .dates:hover strong{color: #323232;}


    /*---------------------------*/
    /*- TOOLTIPS ----------------*/
    .tooltip{cursor: help; position: relative;}
    .tooltip:after{width: 220px; padding: 15px; background: rgba(0, 0, 0, 0.85); border-radius: 4px; position: absolute; left: -15px; bottom: 40px; z-index: 98; color: #f0f0f0; content: attr(title);
    				visibility: hidden; opacity: 0; transition: all 0.2s ease-in-out;}
    .tooltip:before{border: solid; border-color: rgba(0, 0, 0, 0.85) transparent; border-width: 6px 6px 0 6px; content: ""; position: absolute; left: 15px; bottom: 34px; z-index: 99;
    				visibility: hidden; opacity: 0; transition: all 0.2s ease-in-out;}

    .tooltip:hover:after{opacity: 1; visibility: visible; bottom: 35px;}
    .tooltip:hover:before{opacity: 1; visibility: visible; bottom: 29px;}


    /*---------------------------*/
    /*- GRIP AND PULL -----------*/
    .grip-box{padding: 5px 5px 5px 0px; margin-bottom: 2px; background: #fff url(images/grip.png) repeat-y; border: 2px solid #ddd; border-radius: 4px;}
    .grip-box .checkbox label{font-size: 1.4rem;}

    /*---------------------------*/
    /*- FOOTER COPY -------------*/
    .copyright{margin-top: 20px; padding-top: 20px; border-top: 2px solid rgba(0, 0, 0, 0.1); font-size: 1.2rem; color: #999;}
    .copyright .column{margin-bottom: 0;}
    .copyright .nav-horizontal li{margin: 0 0 0 10px;}
    .copyright .nav-horizontal a{padding: 0; color: #454545; text-transform: uppercase; font-weight: 600; font-size: 1.0rem; letter-spacing: 2px;}
    .copyright .nav-horizontal a:hover{background: none; color: #323232;}


/*-------------------------------*/
/*- FORMS -----------------------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- GENERAL -----------------*/
    textarea, input, select, button{width: 100%; background: #fff; border: 2px solid #eee; border-radius: 4px; font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue"; font-size: 1.6rem; color: #8F8F8F;}
    textarea:focus, input:focus, select:focus{border: 2px solid #ccc; -webkit-appearance: none; outline: 0;}
    input[type=email], input[type=text], input[type=password], input[type=number]{max-width: 500px; padding: 0 8px; font-size: 1.6rem; height: 36px; -webkit-appearance: none; -moz-appearance: none;}
    input[type=number]{-webkit-appearance: none; -moz-appearance: textfield;}
    textarea{padding: 10px 8px; max-width: 660px; -webkit-appearance: none; -moz-appearance: none;}
    select{max-width: 500px; padding: 4px 6px;}

    /*---------------------------*/
    /*- FORM BUTTONS ------------*/
    input[type=button],             input[type=submit], 			button{width: auto; border: none; cursor: pointer; font-weight: 600; font-size: 1.4rem; font-style: normal; -webkit-appearance: none; -moz-appearance: none;}
    input[type=button]:hover,       input[type=submit]:hover, 		button:hover{cursor: pointer;}
    input[type=button]:disabled,    input[type=submit]:disabled, 	button:hover{background: #ccc; color: #999;}
    input[type=submit] + span{float: left; font-style: italic; margin: 2px 0px 0px 10px; font-size: 1.1rem;}

    /*---------------------------*/
    /*- CHECKBOXES AND RADIOS ---*/
    input[type=checkbox]{-webkit-appearance: checkbox; -moz-appearance: checkbox;}
    input[type=radio]{-webkit-appearance: radio; -moz-appearance: radio;}

    /*---------------------------*/
    /*- UPLOAD FIELD ------------*/
    input[type=upload], input[type=file]{max-width: 500px; padding: 4px; border: none;  background: #eee; font-size: 1.4rem;}

    /*---------------------------*/
    /*- LABELLING AND GROUPING --*/
    label{clear: both; display: block; margin-bottom: 4px; font-weight: 600; font-size: 1.4rem;}
    fieldset{margin-bottom: 10px;}
    legend{font-size: 1.8rem; margin: 0 0 10px; font-weight: 600; color: #323232;}

    /*---------------------------*/
    /*- NOTES -------------------*/
    form small{display: block; margin-top: 5px;}
    form label + small{max-width: 500px; margin: 0 0 5px;}

    /*---------------------------*/
    /*- FORM ROWS ---------------*/
    .form-row{margin-bottom: 25px; vertical-align: top;}
    .form-row:last-child{margin-bottom: 0px;}
    .title-container .form-row:first-child{margin-top: 0;}

    /*---------------------------*/
    /*- FORM ROWS LARGE ---------*/
    form.large label{font-size: 1.6rem;}
    form.large input[type=email], form.large input[type=text], form.large input[type=password]{height: 47px; font-size: 2.0rem;}
    form.large .input-append .add-on, form.large .input-prepend .add-on{line-height: 43px;}
    form.large .input-append input[type=submit], form.large .input-append input[type=button], form.large .input-append button{height: 47px;}

    /*---------------------------*/
    /*- FORM ROWS SMALL ---------*/
    form.small .form-row{margin-bottom: 5px;}
    form.small input[type=email], form.small input[type=text], form.small input[type=password]{height: 32px; font-size: 1.4rem;}
    form.small .input-append .add-on, form.small .input-prepend .add-on{line-height: 28px;}
    form.small .input-append input[type=submit], form.small .input-append input[type=button], form.small .input-append button{height: 32px;}

    /*---------------------------*/
    /*- CHECKBOX ----------------*/
    input[type=checkbox]{width: auto; height: 14px; width: 14px; padding: 0px; margin: 0px 5px 0px 5px; border: none; vertical-align: middle;}
    .checkbox{clear: both; margin: 0; overflow: hidden;}
    .checkbox input[type=submit], .checkbox button{display: inline-block; margin: 0px;}
    .checkbox label{display: inline-block; margin-left: 10px; vertical-align: middle; font-size: 1.2rem; font-weight: 400;}
    .checkbox .btn-large + label{padding-top: 10px; font-size: 1.4rem;}

        /*---------------------------*/
        /*- CHECKBOX LIST -----------*/
        .checkbox-list .checkbox{margin-bottom: 5px;}
        .checkbox-list .checkbox label{margin-left: 0; font-size: 1.4rem;}

    /*---------------------------*/
    /*- RADIO BUTTONS -----------*/
    input[type=radio]{width: auto; height: 14px; width: 14px; padding: 0px; margin: 0px 5px 0px 5px; border: none; vertical-align: bottom;}
    .radio-button-group{display: block; overflow: hidden;}
    .radio-button-group label{overflow: hidden; clear: none; float: none; padding: 8px 0px; margin-bottom: 0; font-size: 1.2rem; font-weight: 400;}

    /*---------------------------*/
    /*- PREPENDS + APPENDS ------*/
    .input-prepend, .input-append{overflow: hidden; display: block; line-height: 32px; white-space: nowrap; font-size: 0;}
    .input-prepend .add-on{display: inline-block; padding: 0 12px; background: #eee; border: 2px solid #eee; border-right-width: 0px; border-radius: 4px 0px 0px 4px; font-size: 1.6rem;}
    .input-prepend input{display: inline-block; border-left: none; border-radius: 0px 4px 4px 0px; vertical-align: top;}

    .input-append .add-on{display: inline-block; padding: 0 12px; background: #eee; border: 2px solid #eee; border-left-width: 0px; border-radius: 0px 4px 4px 0px; font-size: 1.6rem;}
    .input-append input[type=text], .input-append input[type=password], .input-append input[type=email]{display: inline-block; border-right: none; border-radius: 4px 0px 0px 4px; vertical-align: top;}
    .input-append input[type=submit], .input-append input[type=button], .input-append button{display: inline-block; height: 36px; margin: 0; border-left: none; border-radius: 0px 4px 4px 0px; vertical-align: top;}

    .input-prepend.input-append input{border-radius: 0; border-right-width: 0; border-right-width: 0;}
    .input-prepend.input-append .add-on:first-child{border-left-width: 2px; border-right-width: 0; border-radius: 4px 0px 0px 4px;}


/*-------------------------------*/
/*- BUTTONS ---------------------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- DEFAULT BUTTON ----------*/
    .button{display: inline-block; padding: 4px 14px; background: #454545; border: none; border-radius: 4px; text-align: center; font-weight: 600; color: #fff; vertical-align: middle; cursor: pointer; transition: all 0.2s ease-in-out;}
    .button:hover{background: #323232; color: #fff;}

        /*- FORM BUTTON ---------*/
        input.button{height: 36px; padding-top: 0; padding-bottom:  0;}

        /*- PRIMARY BUTTON ------*/
        .btn-primary{background: #fc0; color: #5E2500;}
        .btn-primary:hover{background: #f93; color: #5E2500;}

        /*- SECONDARY BUTTON ----*/
        .btn-secondary{background: #A3C567; color: #37451D;}
        .btn-secondary:hover{background: #93B25E; color: #37451D;}

        /*- SUBTLE BUTTON -------*/
        .btn-subtle{background: #eee; color: #454545;}
        .btn-subtle:hover{background: #eee; color: #323232;}

        /*- LINK BUTTON ---------*/
        .btn-link{background: none; text-decoration: underline; color: #454545;}
        .btn-link:hover{background: none; color: #323232;}

        /*- LINK BUTTON ---------*/
        .button.btn-invert{background: #fff; color: #454545;}
        .button.btn-invert:hover{background: #454545; color: #fff;}

        /*- INVERT PRIMARY BUTTON -*/
        .invert .btn-primary{color: #5E2500;}
        .invert .btn-primary:hover{color: #5E2500;}

        /*- INVERT SUBTLE BUTTON -*/
        .invert-block .btn-subtle{background: #454545; color: #fff;}
        .invert-block .btn-subtle:hover{background: #009EEC; color: #fff;}

        /*- INVERT LINK BUTTON --*/
        .invert-block .btn-link{color: #ccc;}
        .invert-block .btn-link:hover{color: #fff;}


    /*---------------------------*/
    /*- BUTTON SIZES ------------*/
    .button.btn-small{padding: 1px 14px; font-size: 1.2rem; font-weight: 600;}
    .button.btn-medium{padding: 4px 14px; font-size: 1.2rem;}
    .button.btn-large{padding: 8px 20px;}
    .button.btn-massive{padding: 15px 30px; font-size: 2.0rem;}
    .button.btn-full{display: block; width: 100%;}

    /*---------------------------*/
    /*- BUTTON GROUP ------------*/
    .btn-group{display: inline-block; margin-bottom: 10px; vertical-align: middle;}
    .btn-group + .btn-group{margin-right: 10px;}
    .pull-right .btn-group + .btn-group{margin-left: 10px; margin-right: 0;}
    .btn-group .button{float: left; border-radius: 0; margin: 0;}
    .btn-group .button:first-child{border-radius: 4px 0px 0px 4px}
    .btn-group .button:last-child{border-radius: 0px 4px 4px 0px;}

    /*---------------------------*/
    /*- BUTTON SHAPE ------------*/
    .button.btn-ball-large{display: block; width: 64px; height: 64px; padding: 0; margin: auto; border-radius: 100%;}
    .button.btn-ball-medium{display: block; width: 32px; height: 32px; padding: 0; margin: auto; border-radius: 100%;}
    .button.btn-ball-small{display: block; width: 16px; height: 16px; padding: 0; margin: auto; border-radius: 100%;}

    /*---------------------------*/
    /*- BUTTON COLLECTION -------*/
    .btn-collection{overflow: hidden;}

    .title-container .btn-group{margin-bottom: 0;}

    /*---------------------------*/
    /*- UNIQUE BUTTONS ----------*/

        /*- UPLOAD BUTTON -------*/
        .button.btn-upload{display: block; background-image: url(images/upload.png); background-position: 10px; background-repeat: no-repeat; background-size: 26px; text-align: left; padding: 4px 10px 4px 42px;}
        p + .button.btn-upload{margin-top: 10px;}


/*-------------------------------*/
/*- BADGES AND LABELS -----------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- BADGE -------------------*/
    .badge{padding: 2px 8px; border-radius: 4px; background: #000; color: #fff;}
    .button .badge{margin: 2px 2px 2px -10px;}

        /*- PRIMARY BADGE -------*/
        .badge.badge-primary{background: #5E2500; color: #fff;}

        /*- SECONDARY BADGE -----*/
        .badge.badge-secondary{background: #37451D; color: #fff;}

        /*- SUBTLE BADGE --------*/
        .badge.badge-subtle{background: #8F8F8F; color: #fff;}

        /*- BLANK BADGE ---------*/
        .badge.badge-blank{background: #ddd; color: #323232;}


    /*---------------------------*/
    /*- LABEL -------------------*/
    .label{padding: 1px 6px; border-radius: 4px; background: #454545; color: #fff; font-size: 1.2rem; font-style: normal; font-weight: 600; white-space: nowrap;}

        .label.label-nofrill{display: block; padding: 0; background: none; color: #999;}

        /*- PRIMARY LABEL -------*/
        .label.label-primary{background: #5E2500; color: #fff;}

        /*- SECONDARY LABEL -----*/
        .label.label-secondary{background: #A3C567; color: #fff;}

        /*- SUBTLE LABEL --------*/
        .label.label-subtle{background: #c0c0c0; color: #fff;}

        /*- ERROR LABEL ---------*/
        .label.label-error{background: #E2574C; color: #fff;}

        /*- BLANK LABEL ---------*/
        .label.label-blank{background: #ddd; color: #323232;}

    .label-group{overflow: hidden; font-size: 0;}
    .label-group .label{margin: 0;}
    .label-group .label:first-child{border-radius: 4px 0px 0px 4px}
    .label-group .label:last-child{border-radius: 0px 4px 4px 0px;}

    /*---------------------------*/
    /*- COLLAPSABLE TAGS --------*/
    .destroy{overflow: hidden; font-size: 0;}
    .destroy small{display: inline-block; padding: 0px 6px; margin: 0; border-radius: 3px 0px 0px 3px; background: #eee; color: #323232; font-size: 1.2rem; font-weight: 600; font-style: normal; overflow: hidden;}
    .destroy a{display: inline-block; padding: 0px 10px; border-radius: 0px 3px 3px 0px; background: #eee url(../images/close-sprite-small.png) no-repeat; border-left: 1px solid #ddd; color: #323232; font-size: 1.2rem; text-indent: -999px; overflow: hidden;}
    .destroy a:hover{background-color: #E2574C; background-position: bottom; color: #fff;}

/*-------------------------------*/
/*- TABLES ----------------------*/
/*-------------------------------*/

table{width: 100%; margin-bottom: 20px; vertical-align: top; border-collapse: collapse; border: 1px solid #ddd; overflow: hidden;}
table th{padding: 10px; background: #fff; color: #454545; border-bottom: 1px solid #ddd; font-weight: 600; text-align: left; text-transform: uppercase; font-size: 1.2rem; vertical-align: middle;}
table td{padding: 10px; border-bottom: 1px solid #ddd; vertical-align: top;}
table tr:last-child td{border-bottom: none;}

table .total{font-size: 1.8rem; border-bottom: 1px solid #ddd;}
table .btn-group{margin-bottom: 0;}

.section-table-title td{padding-top: 2px; padding-bottom: 0px; background: #F3F3F3; font-size: 1.1rem; font-weight: 600; text-transform: uppercase; color: #8F8F8F;}

table.table-comfortable td{padding: 14px 10px;}


/*-------------------------------*/
/*- BLOG (TEMP) -----------------*/
/*-------------------------------*/
.news-title{margin-bottom: 30px;}
.news-title h3{font-size: 4.2rem; font-weight: 600;}
.news-title .meta{margin-top: 20px; color: #8F8F8F; font-size: 1.6rem;}

.news-image{background: #253F58; padding: 10px; margin-bottom: 20px; border-radius: 4px;}
.news-image img{display: block; margin: auto;}

.widget-list a{color: #454545;}
.widget-list a:hover{color: #323232;}

.widget-list .widget{overflow: hidden; margin-bottom: 30px;}

.widget-list .widget-title{display: inline-block; padding: 0px; margin-bottom: 15px; border-bottom: 2px solid #ddd; font-size: 1.1rem; font-weight: 600; text-transform: uppercase; color: #888;}
.widget-list .widget li{margin: 0 0 10px; overflow: hidden;}


/*-------------------------------*/
/*- COPY STYLING ----------------*/
/*-------------------------------*/

    .copy{font-size: 1.6rem;}

    .copy p{margin-bottom: 16px;}
    .copy ul{list-style: disc; margin: 0 0 26px;}
    .copy ul li{list-style: disc; margin: 0 0 6px 30px;}
	
    .copy ol{list-style: decimal; margin: 0 0 26px;}
	.copy ol li{list-style: decimal; margin: 0 0 6px 20px;}
	
    .copy ul ul, .copy ul ol, .copy ol ol, .copy ol ul{margin-bottom: 0;}

    .copy a{border-bottom: 1px solid #ddd;}
    .copy a:hover{border-color: #999;}

    .copy .feature-list{list-style: none; margin-left: 15px;}

    .copy dl{margin: 0 0 26px;}
    .copy dd{margin-left: 36px;}

    .copy code, .copy pre{}
    .copy img{display: block; max-width: 98%; height: auto;}

    .copy h1{font-size: 3.2rem; font-weight: 600; margin-bottom: 26px; color: #323232;}
    .copy h2{font-size: 2.2rem; font-weight: 600; margin-bottom: 16px; color: #323232;}
    .copy h3{font-size: 1.8rem; font-weight: 600; margin-bottom: 16px; color: #323232;}
    .copy h4{font-size: 1.6rem; font-weight: 600; margin-bottom: 16px; color: #323232;}
    .copy h5{font-size: 1.4rem; margin-bottom: 16px; color: #323232;}

    .copy blockquote{padding-left: 26px; margin-bottom: 20px; font-weight: 600; font-size: 2.0rem;}

	.copy a.button{border-bottom: none;}

    .story{font-size: 2.0rem;}

    .story p{margin-bottom: 26px;}
    .story ul{list-style: disc; margin: 0 0 26px 35px;}
    .story ol{list-style: decimal; margin: 0 0 26px 35px;}
    .story ul ul, .story ul ol, .story ol ol, .story ol ul{margin-bottom: 0;}
    .story li{margin: 0 0 6px;}

    .story a{border-bottom: 1px solid #ddd;}
    .story a:hover{border-color: #999;}

    .story .feature-list{list-style: none; margin-left: 15px;}

    .story dl{margin: 0 0 26px;}
    .story dd{margin-left: 36px;}

    .story code, .story pre{}
    .story img{display: block; max-width: 98%; height: auto;}

    .story h1{font-size: 3.2rem; font-weight: 600; margin-bottom: 26px; color: #323232;}
    .story h2{font-size: 2.2rem; margin-bottom: 26px; color: #323232;}
    .story h3{font-size: 1.8rem; margin-bottom: 26px; color: #323232;}
    .story h4{font-size: 1.6rem; margin-bottom: 26px; color: #323232;}
    .story h5{font-size: 1.4rem; margin-bottom: 26px; color: #323232;}

    .story blockquote{padding-left: 26px; margin: 0px -10.241%; border-left: 4px solid #ddd; font-weight: 600; font-size: 3.0rem;}


/*-------------------------------*/
/*- COLORS ----------------------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- NO FILL -----------------*/
    .no-fill{background: none !important;}

    .extra-dark{background: #323232;}

    .highlight{background: #009eec;}
    .highlight h5{margin-bottom: 5px; font-size: 1.6rem; color: #323232;}
    .highlight h3{font-size: 3.4rem; color: #fff;}
    .highlight p{color: #fff;}
    .highlight .meta{color: rgba(255, 255, 255, 0.7);}

        .highlight-primary{background: #fc0;}
        .highlight-primary h5{color: #5E2500;}
        .highlight-primary h3{color: #fff;}
        .highlight-primary p{color: rgba(255, 255, 255, 0.75);}

        .highlight-secondary{background: #A3C567;}
        .highlight-secondary h5{color: #37451D;}
        .highlight-secondary h3{color: #fff;}
        .highlight-secondary p{color: rgba(255, 255, 255, 0.85);}

        .highlight-contained{border: 4px solid #eee; background: #fff;}

	.darken{background: #555;}

/*-------------------------------*/
/*- ALIGNMENT -------------------*/
/*-------------------------------*/

    .pull-left{float: left;}
    .pull-right{float: right;}
    .pull-margin-horizontal{margin-left: -2%; margin-right: -2%;}
    .pull-margin-vertical{margin-top: -2%; margin-bottom: -2%;}
    .pull-margin-bottom-max{margin-bottom: -1000px !important;}

    .pull-top{margin-top: -60px;}

    .text-center{text-align: center;}
    .t-left{text-align: left;}
    .t-right{text-align: right;}

    .va-top{vertical-align: top;}
    .va-bottom{vertical-align: bottom;}
    .va-middle{vertical-align: middle;}

    .affix{position: fixed; z-index: 10;}
    .affix.affix-left{left: 10px;}
    .affix.affix-right{right: 0;}
    .affix.affix-top-right{top: 20px; right: 20px;}

    .stick{position: absolute; top: 0; width: 100%; z-index: 10;}

    .extra-push{margin-bottom: 60px;}
    .extra-push-left{margin-bottom: 10px;}

    .push-top{margin-top: 20px;}
    .push-top-small{margin-top: 10px;}
    .push-top-medium{margin-top: 30px;}
    .push-top-large{margin-top: 60px;}

    .push-bottom{margin-bottom: 20px;}
    .push-bottom-small{margin-bottom: 10px;}
    .push-bottom-medium{margin-bottom: 30px;}
    .push-bottom-large{margin-bottom: 60px;}

    .no-push{margin: 0;}
    .no-push-bottom{margin-bottom: 0;}
    .no-push-right{margin-right: 0;}

    .no-inset-top{padding-top: 0;}
    .no-inset-bottom{padding-bottom: 0;}