@font-face {
	font-family: 'layers-icons';
	src:url('fonts/layers-icons.eot?-aw2j1a');
	src:url('fonts/layers-icons.eot?#iefix-aw2j1a') format('embedded-opentype'),
		url('fonts/layers-icons.woff?-aw2j1a') format('woff'),
		url('fonts/layers-icons.ttf?-aw2j1a') format('truetype'),
		url('fonts/layers-icons.svg?-aw2j1a#layers-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="l-"], [class*=" l-"] {
	font-family: 'layers-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.l-user:before {
	content: "\f007";
}

.l-clock-o:before {
	content: "\f017";
}

.l-tags:before {
	content: "\f02c";
}

.l-comment-o:before {
	content: "\f0e5";
}

.l-folder-open-o:before {
	content: "\f115";
}

.l-user2:before {
	content: "\f008";
}

.l-clock-o2:before {
	content: "\f018";
}

.l-tags2:before {
	content: "\f02d";
}

.l-comment-o2:before {
	content: "\f0e6";
}

.l-folder-open-o2:before {
	content: "\f116";
}

.l-menu:before {
	content: "\e601";
}

.l-top-arrow:before {
	content: "\e604";
}

.l-bottom-arrow:before {
	content: "\e605";
}

.l-right-arrow:before {
	content: "\e600";
}

.l-left-arrow:before {
	content: "\e602";
}

.l-close:before {
	content: "\e603";
}

