@font-face {
	font-family: 'obox-icons';
	src:url('icon-fonts/obox-icons.eot?t1120n');
	src:url('icon-fonts/obox-icons.eot?#iefixt1120n') format('embedded-opentype'),
		url('icon-fonts/obox-icons.woff?t1120n') format('woff'),
		url('icon-fonts/obox-icons.ttf?t1120n') format('truetype'),
		url('icon-fonts/obox-icons.svg?t1120n#obox-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="h-"], [class*=" h-"] {
	font-family: 'obox-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.h-menu:before {
	content: "\e601";
}
.h-top-arrow:before {
	content: "\e604";
}
.h-bottom-arrow:before {
	content: "\e605";
}
.h-right-arrow:before {
	content: "\e600";
}
.h-left-arrow:before {
	content: "\e602";
}
.h-close:before {
	content: "\e603";
}
