/*-------------------------------*/
/*- OFF CANVAS ------------------*/
/*-------------------------------*/
section[class*=' off-canvas-']{
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out 0s;
    font-size: 1.4rem;
    padding-top: 50px;
}
.off-canvas-right{
    width: 240px;
    height: 100%;
    right: 0;
}
.off-canvas-left{
    width: 240px;
    height: 100%;
}
.off-canvas-top{
    width: 100%;
    height: 200px;
}

.open[class*=' off-canvas-']{
    opacity: 1;
    transform: scale(1);
    overflow-y: scroll;
}

    /*---------------------------*/
    /*- WRAPPER POSITIONING -----*/
    .off-canvas-right.open + .wrapper-site{
        left: -240px;
    }
    .off-canvas-left.open + .wrapper-site{
        left: 240px;
    }
    .off-canvas-top.open + .wrapper-site{
        top: 200px;
    }

    /*---------------------------*/
    /*- CLOSE CANVAS ------------*/
    .close-canvas{
        padding: 10px;
        background: #555;
        color: #999;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        z-index: 100;
    }
    .admin-bar section[class*=' off-canvas-'] .close-canvas{
        top: 62px;
    }
    .close-canvas:hover{
        color: #fff;
    }

    /*---------------------------*/
    /*- OFF CANVAS WIDGETS ------*/
    section[class*=' off-canvas-'] li{
        padding: 5px 0;
    }
    section[class*=' off-canvas-'] .widget.widget_nav_menu{
        padding: 20px;
    }
    section[class*=' off-canvas-'] .widget.widget_nav_menu li{
        display: block;
        margin: 0;
        text-align: left;
    }
    section[class*=' off-canvas-'] .searchform label{
        display: none;
    }
    section[class*=' off-canvas-'] .searchform input[type="text"]{
        background: none repeat scroll 0% 0% rgb(51, 51, 51);
        border: 2px solid rgb(85, 85, 85);
    }
    section[class*=' off-canvas-'] .searchform input[type="submit"]{
        display: block;
        width: 100%;
        height: 32px;
        background: #555;
        color: #ccc;
        font-size: 1.2rem;
    }

        /*-----------------------*/
        /*- OFF CANVAS MENU -----*/
        section[class*=' off-canvas-'] .nav-vertical{
            display: block;
        }
        section[class*=' off-canvas-'] .nav-vertical li{
            padding: 0;
        }
        section[class*=' off-canvas-'] .nav-vertical .sub-menu{
            display: block;
            width: auto;
            visibility: visible;
            opacity: 1;
            position: static;
            border: none;
            font-size: 1.2rem;
            box-shadow: none;
        }
        section[class*=' off-canvas-'] .nav-vertical .sub-menu li{
            border: none;
        }


/*-------------------------------*/
/*- ADVANCED LAYOUTS ------------*/
/*-------------------------------*/
.advanced-layout{
    display: flex;
    flex-direction: row;
}
.advanced-layout-left header{
    order: 1;
    width: 20%;
}
.advanced-layout-left .wrapper-content{
    order: 2;
    width: 80%;
}
.advanced-layout-right header{
    order: 2;
    width: 20%;
}
.advanced-layout-right .wrapper-content{
    order: 1;
}


/*-------------------------------*/
/*- HEADERS ---------------------*/
/*-------------------------------*/

    .header-site{
        /* background: #f3f3f3; */
    }
    .header-site .container{
        padding: 20px;
    }

    /*---------------------------*/
    /*- ALIGNMENT LEFT ----------*/
    .header-left .logo{
        float: left;
        overflow: hidden;
    }
    .header-left .sitename{
        margin: 0 10px 0 0;
    }
    .header-left nav{
        float: right;
    }

    /*---------------------------*/
    /*- ALIGNMENT RIGHT ---------*/
    .header-right .logo{
        float: right;
        overflow: hidden;
    }
    .header-right .sitename{
        margin: 0 10px 0 0;
    }
    .header-right nav{
        float: left;
    }

    /*---------------------------*/
    /*- ALIGNMENT CENTER --------*/
    .header-center{
        text-align: center;
    }
    .header-center .logo{
        float: none;
    }
    .header-center .site-description{
        display: block;
        margin: 0;
    }

    .header-center .site-logo-link + .site-description{
        margin: 10px 0 0;
    }
    .header-center .site-logo-link + .tagline{
        margin-top: 10px;
    }

    .header-center nav{
        clear: both;
        text-align: center;
        margin-top: 20px;
        line-height: unset;
    }

    /*---------------------------*/
    /*- ALIGNMENT INLINE --------*/
    .header-inline .logo{
        text-align: center;
    }
    .header-inline .site-description{
        display: block;
        margin: 0;
    }
    .header-inline .site-logo-link + .site-description{
        margin-top: 10px;
    }

    /*---------------------------*/
    /*- POSITION OVERLAY --------*/
    .header-sticky{
        width: 100%;
        z-index: 100;
    }
    .header-site.invert .nav-horizontal > ul > li > a{
        color: #fff;
    }
    .header-site.invert .nav-horizontal > ul > li > a:hover{
        color: #000;
    }
    .header-site.invert .responsive-nav .l-menu{
        color: #fff;
    }
    .header-overlay{
        position: absolute;
        width: 100%;
        z-index: 100;
        transition: background .3s ease-in-out;
    }
    .header-sticky.is_stuck{
        margin-top: -30px;
        opacity: 0;
    }
    .header-sticky.is_stuck.is_stuck_show{
        margin-top: 0;
        opacity: 1;
        transition: margin .15s ease-in-out, opacity .15s ease-in-out;
    }
    .admin-bar .header-sticky.is_stuck{
        margin-top: 30px;
    }
    .admin-bar .header-sticky.is_stuck.is_stuck_show{
        margin-top: 0;
    }

    /*---------------------------*/
    /*- NAVIGATION POSITION -----*/
    .nav-clear .logo{
        float: none;
    }
    .nav-clear .site-logo-link + .sitename{
        margin-top: 10px;
    }
    .nav-clear .site-logo-link + .tagline{
        margin-top: 10px;
    }
    .nav-clear nav{
        display: block;
        float: none;
        clear: both;
        margin: 10px 0 0;
    }

    /*---------------------------*/
    /*- SECONDARY HEADER --------*/
    .header-secondary nav{
        margin: 0;
        font-size: 1.2rem;
    }
    .header-secondary .sub-menu{
        display: none;
    }


/*-------------------------------*/
/*- SLIDER ----------------------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- SLIDER CONTENT ----------*/
    .swiper-container.container{
        padding: 0;
        max-width: 1000px;
    }
    .swiper-slide .container{
        position: relative;
        top: 50%;
    }
    .swiper-slide .copy-container{
        max-width: 1040px;
        margin: auto;
        padding: 0;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .swiper-slide .image-container{
        position: relative;
        top: 50%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .swiper-slide .overlay.darken{
        background-color: rgba(0, 0, 0, 0.2);
    }
    .single-slide .swiper-slide{
        width: 100%;
    }
    .swiper-slide .section-title.large .excerpt{
        max-width: none;
    }
    .swiper-slide.image-top.text-center .excerpt{
        max-width: 745px;
    }

    /*---------------------------*/
    /*- SLIDER IMAGES -----------*/
    .image-left .copy-container{
        float: right;
        width: 49%;
    }
    .image-left .image-container{
        float: left;
        width: 49%;
    }
    .image-right .copy-container{
        float: left;
        width: 49%;
    }
    .image-right .image-container{
        float: right;
        width: 49%;
    }
    .has-image.image-top .container{
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .has-image.image-top .copy-container{
        top: auto;
        transform: none;
    }
    .has-image.image-top .image-container{
        top: auto;
        transform: none;
    }
    .image-top .copy-container + .image-container{
        margin-top: 40px;
    }

    /*---------------------------*/
    /*- SLIDER COPY -------------*/
    .swiper-slide.text-center .excerpt{
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    /*---------------------------*/
    /*- SLIDER NAVIGATION -------*/

        /*-----------------------*/
        /*- PAGINATION ----------*/
        .swiper-container .pages{
            position: absolute;
            bottom: 0;
            opacity: 0;
            z-index: 2000;
            width: 100%;
            text-align: center;
        }
        .swiper-container:hover .pages{
            bottom: 16px;
            opacity: 1;
        }
        .swiper-container .swiper-pagination-switch{
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: 8px;
            background: #fff;
            border: 2px solid transparent;
            border-radius: 100px;
            overflow: hidden;
            text-indent: -999px;
            cursor: pointer;
            transform: scale(1);
            transition: all 0.2s ease-in-out;
        }
        .swiper-container .swiper-pagination-switch:hover{
            background: transparent;
            border: 2px solid #fff;
            transform: scale(1.5);
        }
        .swiper-container .swiper-pagination-switch.swiper-visible-switch.swiper-active-switch{
            background: transparent;
            border: 2px solid #fff;
            transform: scale(1.5);
        }

        /*-----------------------*/
        /*- ARROWS --------------*/
        .swiper-container .arrows{
            position: absolute;
            top: 50%;
            width: 100%;
            z-index: 2000;
            margin-top: -50px;
        }
        .swiper-container .arrows a{
            position: absolute;
            opacity: 0;
            display: block;
            overflow: hidden;
            color: #fff;
            font-size: 48px;
        }
        .swiper-container .arrows .l-left-arrow{
            left: 0;
        }
        .swiper-container .arrows .l-right-arrow{
            right: 0;
        }
        .swiper-container:hover .arrows .l-left-arrow{
            left: 10px;
            opacity: 1;
        }
        .swiper-container:hover .arrows .l-right-arrow{
            right: 10px;
            opacity: 1;
        }

/*-------------------------------*/
/*- AVATAR ----------------------*/
/*-------------------------------*/
.avatar{
    display: block;
    position: relative;
}
.avatar .avatar-image{
    display: block;
    float: left;
    margin-right: 10px;
    max-width: 64px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}
.avatar .avatar-image img{
    display: block;
    margin: auto;
    border-radius: 100%;
}
.avatar .avatar-body{
    overflow: hidden;
    padding: 5px 0;
}
.avatar .avatar-body .avatar-name{
    display: block;
    font-weight: 600;
}
.avatar.middled{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.avatar.middled .avatar-image{
    float: none;
    margin: auto;
}


/*-------------------------------*/
/*- STORY -----------------------*/
/*-------------------------------*/

    .story{
        font-size: 1.8rem;
    }
    .story p{
        margin-bottom: 26px;
    }
    .story ul{
        list-style: disc;
        margin: 0 0 26px 35px;
    }
    .story ul li{
        list-style: disc;
        margin: 0 0 6px;
    }
    .story ol{
        list-style: decimal;
        margin: 0 0 26px 35px;
    }
    .story ol li{
        list-style: decimal;
        margin: 0 0 6px;
    }
    .story ul ul,
    .story ul ol,
    .story ol ol,
    .story ol ul{
        margin-bottom: 0;
    }
    .story a{
        border-bottom: 1px solid #ddd;
    }
    .story a:hover{
        border-color: #999;
    }
    .story .feature-list{
        list-style: none;
        margin-left: 15px;
    }
    .story dl{margin: 0 0 26px;}
    .story dd{margin-left: 36px;}

    .story code, .story pre{}
    .story img{
        display: block;
        max-width: 98%;
        height: auto;
    }
    .story h1{
        margin-bottom: 26px;
        font-size: 3.2rem;
        font-weight: 600;
        color: #323232;
    }
    .story h2{
        margin-bottom: 26px;
        font-size: 2.2rem;
        font-weight: 400;
        color: #323232;
    }
    .story h3{
        margin-bottom: 26px;
        font-size: 2.0rem;
        font-weight: 400;
        color: #323232;
    }
    .story h4{
        margin-bottom: 26px;
        font-size: 1.8rem;
        font-weight: 400;
        color: #323232;
    }
    .story h5{
        margin-bottom: 26px;
        font-size: 1.4rem;
        font-weight: 400;
        color: #323232;
    }
    .story table{
        font-size: 1.4rem;
    }
    .story blockquote{
        padding: 20px;
        margin-bottom: 26px;
        background: #f0f0f0;
        color: #999;
    }
    .story blockquote p:last-child{
        margin-bottom: 0;
    }

        /*-----------------------*/
        /*- WP CAPTIONS ---------*/
        .wp-caption{
            max-width: 100%;
            padding: 10px;
            background: #f0f0f0;
        }
        .wp-caption.alignright,
        .story img.alignright{
            float: right;
            max-width: 320px;
            margin: -10px 0 10px 20px;
        }
        .wp-caption.alignleft{
            float: left;
            max-width: 320px;
            margin: 0 20px 10px 0;
        }
        .wp-caption p.wp-caption-text{
            padding: 10px 5px 5px;
            margin: 0;
            color: #777;
            font-size: 1.4rem;
        }
        .wp-caption.alignnone{
            margin: 5px 20px 20px 0;
        }

/*-------------------------------*/
/*- META ------------------------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- META INFO ---------------*/
    .meta-info{
        clear: both;
        font-size: 1.2rem;
    }
    .meta-info + .heading{
        margin-top: 15px;
    }
    .meta-info p{
        margin: 0;
    }
    .meta{
        overflow: hidden;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .meta-list{
        overflow: hidden;
    }
    .meta-list li{
        padding: 5px 0px;
    }
    div + .meta-list{
        margin-top: 10px;
    }
    .meta-item{
        display: block;
        margin-top: 2px;
    }
    .meta-item:first-child{
        margin-top: 0;
    }
    .meta-item i{
        display: inline-block;
        width: 16px;
    }
    .meta-info + .heading,
    .excerpt + .meta-info{
        margin-top: 15px;
    }
    .meta-info p{
        margin: 0;
    }

        /*-----------------------*/
        /*- SINGLE PAGE META ----*/
        .single .meta-item{
            display: inline-block;
            margin-right: 15px;
        }

/*-------------------------------*/
/*- COMMENTS FORM ---------------*/
/*-------------------------------*/
.comment-notes{
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #999;
}
p[class*='comment-form'] input{
    margin-bottom: 15px;
}
p[class*='comment-form'] .required{
    color: #900;
}
.comment-reply-title{
    font-size: 2.8rem;
    color: #323232;
}
.logged-in-as{
    margin-bottom: 20px;
    color: #8F8F8F;
}
.form-allowed-tags{
    margin-bottom: 15px;
    font-size: 1.4rem;
}
.form-allowed-tags code{
    padding: 0;
    background: none;
}
.form-submit input[type=submit]{
    display: inline-block;
    padding: 4px 14px;
    background: #454545;
    border: none;
    text-align: center;
    font-weight: 600;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.form-submit input[type=submit]:hover{
    background: #323232;
    color: #fff;
}


/*-------------------------------*/
/*- WORDPRESS WIDGETS -----------*/
/*-------------------------------*/
.sidebar .widget li{
    padding: 0 0 6px;
    margin: 0 0 6px;
    border-bottom: 1px solid #ddd;
}
.sidebar .widget li:last-child{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.sidebar .widget li ul{
    margin: 6px 0 0 10px;
}

#footer .widget li{
    margin-bottom: 8px;
}
#footer .widget li:last-child{
    border-bottom: none;
}

    /*---------------------------*/
    /*- WIDGET NAV MENU ---------*/
    .widget.widget_nav_menu{
        max-width: none;
        margin: 0;
    }
    .wrapper-site .menu-main-menu-container{
        max-width: 1040px;
        padding: 20px 0;
        margin: auto;
        overflow: hidden;
        text-align: center;
    }
    .menu-main-menu-container li{
        display: inline;
        margin: 0 10px;
    }
    .menu-main-menu-container li a{
        display: inline-block;
        font-weight: 600;
        color: #323232;
        text-align: center;
    }
    .menu-main-menu-container li a:hover{
        color: #8F8F8F;
    }

        /*-----------------------*/
        /*- WIDGET NAV MENU -----*/
        .sidebar .widget.widget_nav_menu{
            margin-bottom: 20px;
        }
        .sidebar .menu-main-menu-container{
            padding: 0;
        }
        .sidebar .menu-main-menu-container li{
            display: block;
        }
        .sidebar .menu-main-menu-container li a{
            display: block;
            font-weight: normal;
            text-align: left;
        }

    /*---------------------------*/
    /*- SEARCH WIDGET -----------*/
    .screen-reader-text{
        display: none;
    }
    .search-form label{
        margin-bottom: 0;
    }
    aside .search-submit{
        display: block;
        width: 100%;
    }
    aside .search-field{
        border: none;
    }

    /*---------------------------*/
    /*- CALENDAR WIDGET ---------*/
    #wp-calendar{
        font-size: 1.2rem;
    }
    #wp-calendar caption{
        font-size: 1rem;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
    }
    #wp-calendar th,
    #wp-calendar td{
        padding: 5px;
    }

/*-------------------------------*/
/*- MAP - ADD ON ----------------*/
/*-------------------------------*/
.row.has-map{
    padding-top: 0;
}
.layers-map img{
    width: auto;
    max-width: none;
}


/*-------------------------------*/
/*- TOOLTIPS --------------------*/
/*-------------------------------*/
.tooltip{
    cursor: help;
    position: relative;
}
.tooltip:after{
    width: 220px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 4px;
    position: absolute;
    left: -15px;
    bottom: 40px;
    z-index: 98;
    color: #f0f0f0;
    content: attr(title);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.tooltip:before{
    border: solid;
    border-color: rgba(0, 0, 0, 0.85) transparent;
    border-width: 6px 6px 0 6px;
    content: "";
    position: absolute;
    left: 15px;
    bottom: 34px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.tooltip:hover:after{
    opacity: 1;
    visibility: visible;
    bottom: 35px;
}
.tooltip:hover:before{
    opacity: 1;
    visibility: visible;
    bottom: 29px;
}


/*-------------------------------*/
/*- POPULAR WP PLUGINS ----------*/
/*-------------------------------*/

    /*---------------------------*/
    /*- CONTACT FORM 7 ----------*/
    .wpcf7-form p{
        margin-bottom: 15px;
        vertical-align: top;
        font-weight: bold;
    }
    .wpcf7-form br{
        display: none;
    }
    .wpcf7-form-control-wrap{
        display: block;
        margin-top: 4px;
        font-weight: normal;
    }


