/* Widget Styling CSS

- ANIMATION PACE cubic-bezier(0, 0.275, 0.125, 1) 0s
- ACCENT COLOR #0289C0
- ACCENT HOVER #0D5F83

*/

@import url(icons.css);

/*------------------------------------*/
/*- HIDE HATCH WIDGETS IN APPEARANCE -*/
div#widgets-right .widgets-sortables{
    padding-bottom: 1px;
}
.widget-holder div[id*='hatch-widget'],
.widget-holder.inactive div[id*='obox-hatch-builder'],
.widgets-php #widget-list [id*='hatch-widget'],
div#widgets-right .widgets-sortables [id*='hatch-widget'],
div#widgets-right div[id*='obox-hatch-builder']{
    display: none;
}
.widgets-holder-wrap{
    border-width: 0px;
}
.widgets-holder-wrap .widget{
    border-width: 1px;
}

/*----------------------------------*/
/*- HIDING NONE HATCH WIDGETS ------*/
#available-widgets .widget-tpl{}
#available-widgets .widget-tpl[id*='hatch-widget']{display: block !important;}

/*----------------------------------*/
/*- WORDPRESS RESETS / OVERRIDES ---*/
div[id*='hatch-widget'].widget-tpl .widget .widget-description{color: #777 !important;}
div[id*='hatch-widget'].widget-tpl .widget .widget-title:before{color: #222 !important;}
div[id*='hatch-widget'].widget-tpl .widget .widget-title h4{color: #222 !important;}

div[id*='hatch-widget'] .widget-top{
    background: #0289C0;
    border-color: #0D5F83;
}
div[id*='hatch-widget'] .widget-top:hover{
    border-color: #094D6A !important;
}
div[id*='hatch-widget'] .widget-top .widget-title h4{
    color: #fff;
}
div[id*='hatch-widget'] .widget-top .widget-title .in-widget-title{
    color: rgba(255, 255, 255, 0.8);
}

.hatch-hide{
    display: none !important;
}
.customize-control-widget_form.wide-widget-control.expanded:not(.collapsing) div[id*='hatch-widget'] .widget-top{
    background: #0BA6E0;
    border-color: #0D5F83;
    color: #3D454E;
}
.customize-control-widget_form.wide-widget-control div[id*='hatch-widget'] .widget-inside{
    width: 0;
    height: 100%;
    max-height: none;
    padding: 0 !important;
    top: 0 !important;
    border-top: none !important;
    border-right: none !important;
    transition: width 0.2s ease-in-out, top 0.2s ease-in-out, opacity 0.15s ease-in-out, box-shadow 0.7s ease-in-out;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
}
.customize-control-widget_form.wide-widget-control.expanded div[id*='hatch-widget'] .widget-inside{
    opacity: 1;
    width: 660px;
    box-shadow: 5px 0 18px rgba(0, 0, 0, 0.2), 4px 0 4px rgba(0, 0, 0, 0.10);
    overflow-y: visible;
}
.customize-control-widget_form.wide-widget-control.collapsing div[id*='hatch-widget'] .widget-inside{
    transition: width 0.25s ease-in-out, opacity 0.15s ease-in-out;
    opacity: 0;
    width: 0;
}

.customize-control-widget_form.wide-widget-control div[id*='hatch-widget'] .widget-inside .form{
    padding: 0 !important;
    height: 100%;
    min-width: 660px;
    position: relative;
    transform: translateX(-20px);
    transition: all 0.35s ease-in-out;
}
.customize-control-widget_form.wide-widget-control.expanded div[id*='hatch-widget'] .widget-inside .form{
    transform: translateX(0px);
    opacity: 1;
}
.customize-control-widget_form.wide-widget-control.collapsing div[id*='hatch-widget'] .widget-inside .form{
    transform: translateX(-20px);
    opacity: 0;
}

/*- COLLAPSED SIDEBAR ------------*/
.collapsed .customize-control-widget_form.wide-widget-control div[id*='hatch-widget'] .widget-inside{
    width: 0;
    left: -300px;
    transition-delay: none;
}
.collapsed .customize-control-widget_form.wide-widget-control div[id*='hatch-widget'] .widget-inside .form{
    opacity: 0;
    transition-delay: none;
}

div[id*='hatch-widget'] .widget-control-actions{
    padding: 10px 20px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    left: 0px;
    background-color: #FFF;
    border-top: 1px solid #EEE;
    width: 100%;
    max-width: 570px;
}
div[id*='hatch-widget'] .widget-control-actions a{
    background: #f0f0f0;
    border-radius: 4px;
    padding: 4px 10px;
    display: inline-block;
}

/*---------------------------*/
/*- CONTAINERS --------------*/
.hatch-container{
    max-width: 1000px;
    margin: auto;
}
.hatch-container-large{
    padding-bottom: 50px;
    position: relative;
    z-index: 99;
}
.hatch-content-small{
    padding: 10px;
}
.hatch-content{
    padding: 20px;
    position: relative;
}
.hatch-content-large{
    padding: 40px;
    position: relative;
}
.hatch-content-massive{
    padding: 60px;
    position: relative;
}
.hatch-content img{
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
.hatch-well{
    background: #fff;
}

/*---------------------------*/
/*- ICONS -------------------*/
[class^="icon-"], [class*=" icon-"]{
    font-size: 32px;
}
[class*="icon-"].hatch-small{
    font-size: 16px;
}
[class*="icon-"].hatch-large{
    font-size: 64px;
}
.hatch-icon-wrapper{
    display: block;
}
.hatch-icon-description{
    display: block;
    margin-top: 3px;
    opacity: 0.75;
    font-size: 11px;
    font-weight: 600;
}
.hatch-icon-group{
    overflow: hidden;
    padding: 2px 1px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: inline-block;
}
.hatch-icon-group .hatch-icon-wrapper{
    display: block;
    float: left;
    width: 16px;
    margin: 0 1px !important;
    padding: 3px 10px !important;
}
.hatch-icon-group .hatch-icon-wrapper [class^="icon-"], .hatch-icon-group .hatch-icon-wrapper [class*=" icon-"]{
    font-size: 16px;
}
.hatch-icon-group .hatch-icon-wrapper .hatch-icon-description{
    display: none !important;
}

.hatch-icon-group .hatch-icon-wrapper.hatch-select-images{
    clear: both;
    width: 100%;
}
.hatch-icon-group .hatch-icon-wrapper img{
    max-width: 100%;
}

    /*---------------------------*/
    /*- INLINE ICON DESCRIPTION -*/
    .hatch-visuals-wrapper.hatch-visuals-inline .hatch-icon-wrapper{
        text-align: left;
    }
    .hatch-visuals-wrapper.hatch-visuals-inline .hatch-icon-wrapper{
        padding: 5px; margin: 0 0 5px;
    }
    .hatch-visuals-wrapper.hatch-visuals-inline .hatch-icon-wrapper [class^="icon-"],
    .hatch-visuals-wrapper.hatch-visuals-inline .hatch-icon-wrapper [class*=" icon-"]{
        vertical-align: middle;
    }
    .hatch-visuals-wrapper.hatch-visuals-inline .hatch-icon-wrapper .hatch-icon-description{
        display: inline-block;
        margin: 0 0 0 5px;
    }

/*---------------------------*/
/*- THE GRID ----------------*/
.hatch-row:before, .hatch-row:after{content: " "; display: table;}
.hatch-row:after{clear: both;}
.hatch-row{*zoom: 1;}

.hatch-clearfix:before, .hatch-clearfix:after{content: " "; display: table;}
.hatch-clearfix:after{clear: both;}
.hatch-clearfix{*zoom: 1;}

.hatch-column{
    float: left;
    margin: 0 2% 20px 0;
    position: relative;
    box-sizing: border-box;
}
.hatch-column-flush{
    float: left;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}
.hatch-row .hatch-column:last-child{margin-right: 0;}

    .hatch-span-1{width: 6.5%;}
    .hatch-span-2{width: 15%;}
    .hatch-span-3{width: 23.5%;}
    .hatch-span-4{width: 32%;}
    .hatch-span-5{width: 40.5%;}
    .hatch-span-6{width: 49%;}
    .hatch-span-7{width: 57.5%;}
    .hatch-span-8{width: 66%;}
    .hatch-span-9{width: 74.5%;}
    .hatch-span-10{width: 83%;}
    .hatch-span-11{width: 91.5%;}
    .hatch-span-12{width: 100%;}

    .hatch-column-flush.hatch-span-1{width: 8.333333%;}
    .hatch-column-flush.hatch-span-2{width: 16.6667%;}
    .hatch-column-flush.hatch-span-3{width: 25%;}
    .hatch-column-flush.hatch-span-4{width: 33.33333%;}
    .hatch-column-flush.hatch-span-5{width: 41.66665%;}
    .hatch-column-flush.hatch-span-6{width: 50%;}
    .hatch-column-flush.hatch-span-7{width: 58.1%;}
    .hatch-column-flush.hatch-span-8{width: 66.4%;}
    .hatch-column-flush.hatch-span-9{width: 74.7%;}
    .hatch-column-flush.hatch-span-10{width: 83%;}
    .hatch-column-flush.hatch-span-11{width: 91.3%;}
    .hatch-column-flush.hatch-span-12{width: 100%;}

    .hatch-row .hatch-column.hatch-span-1:nth-child(12n+12){margin-right: 0;}
    .hatch-row .hatch-column.hatch-span-2:nth-child(6n+6){margin-right: 0;}

    .hatch-row .hatch-column.hatch-span-3:nth-child(4n+4){margin-right: 0;}
    .hatch-row .hatch-column.hatch-span-3:nth-child(4n+5){clear: left;}

    .hatch-row .hatch-column.hatch-span-4:nth-child(3n+3){margin-right: 0;}
    .hatch-row .hatch-column.hatch-span-4:nth-child(3n+4){clear: left;}

    .hatch-row .hatch-column.hatch-span-6:nth-child(2n+2){margin-right: 0;}
    .hatch-row .hatch-column.hatch-span-6:nth-child(2n+3){clear: left;}

    /*-----------------------*/
    /*- BROAD BASED COLUMNS -*/
    div[class*='hatch-columns-'] div[class*='hatch-span'], div[class*='hatch-columns-'] .hatch-sortable-drop{
        float: left;
        padding: 10px;
        margin: 0;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        transform: scale(1);
    }

    div[class*='hatch-columns-'] div[class*='hatch-span'].ui-sortable-helper{
        transition: none;
    }
    div[class*='hatch-columns-'] div[class*='hatch-span'].ui-sortable-helper:active{
    }
    .hatch-columns-4 .hatch-span, .hatch-columns-4 .hatch-sortable-drop{width: 25%;}
    .hatch-columns-3 .hatch-span, .hatch-columns-3 .hatch-sortable-drop{width: 33%;}
    .hatch-columns-2 .hatch-span, .hatch-columns-2 .hatch-sortable-drop{width: 50%;}
    .hatch-columns-1 .hatch-span, .hatch-columns-1 .hatch-sortable-drop{width: 100%;}

        .hatch-columns-3 .hatch-span-position-4{display: none;}

        .hatch-columns-2 .hatch-span-position-3,
        .hatch-columns-2 .hatch-span-position-4{display: none;}

        .hatch-columns-1 .hatch-span-position-2,
        .hatch-columns-1 .hatch-span-position-3,
        .hatch-columns-1 .hatch-span-position-4{display: none;}

    /*-----------------------*/
    /*- COLUMN TWEAKERS -----*/
    .no-gutter{margin-right: 0;}
    .middled, .row .column.middled{float: none; margin: auto;}

    .hatch-drag{
        display: block;
        height: 8px;
        margin-bottom: 10px;
        background: url(images/drag.png) top center repeat-x;
        cursor: move;
        opacity: 0.5;
        transition: 0.2s all ease-in-out
    }
    .hatch-drag:hover{opacity: 1;}

/*---------------------------*/
/*- ELEMENT CONTROLLERS -----*/
.hatch-pull-right{
    float: right;
}
.hatch-pull-left{
    float: left;
}
.hatch-clear{
    clear: both;
}
.hatch-no-push-bottom{
    margin-bottom: 0 !important;
}
.hatch-push-bottom{
    margin-bottom: 20px !important;
}
.hatch-t-left{
    text-align: left;
}
.hatch-t-center{
    text-align: center;
}
.hatch-t-right{
    text-align: right;
}
.hatch-animate{
    transition: all 0.2s ease-in-out;
}

/*---------------------------*/
/*- FORM ELEMENTS -----------*/
.hatch-form-item{
	clear: left;
    padding: 0;
    margin: 0 0 15px;
}
.hatch-form-item:last-child{
    margin-bottom: 0;
}

.hatch-form-item label{
    display: block;
    margin-bottom: 2px;
    font-size: 11px;
    text-transform: uppercase;
    color: #777;
    font-weight: 600;
}

.customize-control .hatch-form-item select{
    width: 100%;
    margin: 0;
}
.customize-control .hatch-textarea{
    width: 100%;
    padding: 8px;
    margin: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.editible,
.hatch-form-item input[type=text],
.hatch-form-item input[type=email],
.hatch-form-item input[type=number],
.hatch-form-item input[type=password],
.hatch-form-item input[type=link]{
	display: block;
    width: 100%;
    padding: 8px;
    margin: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.editible{
    clear: both;
    color: #000;
    font-size: 14px;
    line-height: 1.4;
    width: 95%;
}
.hatch-tiny-mce-switch{
    /*background-color: #efefef;
    border-radius: 2px;*/
    clear: both;
    color: #444;
    display: inline-block;
    float: right;
    font-size: 11px;
    margin-bottom: 0px;
    padding: 4px 6px;
}
.hatch-form-item input[type=text]:hover,
.hatch-form-item input[type=email]:hover,
.hatch-form-item input[type=number]:hover,
.hatch-form-item input[type=password]:hover,
.hatch-form-item input[type=link]:hover,
.customize-control .hatch-textarea:hover{
    border-color: #ccc;
}
.hatch-form-item input[type=text]:focus,
.hatch-form-item input[type=email]:focus,
.hatch-form-item input[type=number]:focus,
.hatch-form-item input[type=password]:focus,
.hatch-form-item input[type=link]:focus,
.customize-control .hatch-textarea:focus{
    border-color: #0289C0;
}

.hatch-form-item input[type=text].hatch-large,
.hatch-form-item input[type=email].hatch-large,
.hatch-form-item input[type=number].hatch-large,
.hatch-form-item input[type=password].hatch-large,
.hatch-form-item input[type=link].hatch-large{
    font-size: 24px;
    line-height: 34px;
}
.customize-control .hatch-textarea.hatch-large{
    font-size: 20px;
    line-height: 30px;
}

    /*-----------------------*/
    /*- CHECKBOX ------------*/
    .hatch-checkbox-wrapper input[type=checkbox]{
        display: none;
    }
    .hatch-checkbox-wrapper{
        clear: both;
        margin: 0 0 8px;
    }
    .hatch-checkbox-wrapper input[type=submit], .hatch-checkbox-wrapper button{
        float: left;
        margin: 0;
    }
    .hatch-checkbox-wrapper label:before{
        content:"";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        background: #fff url(images/checkbox.png) 0 -32px no-repeat;
        background-size: 16px 16px;
        border: 1px solid #ccc;
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
        /*border-radius: 4px;*/
        transition: all 0.2s ease-in-out;
        vertical-align: bottom;
    }
    .hatch-checkbox-wrapper input[type=checkbox]:checked + label:before{
        background-color: #0289C0;
        background-position: 0 0;
        border-color: #0289C0;
        box-shadow: none;
    }
    .hatch-checkbox-wrapper label{
        clear: none;
        display: inline-block;
        font-size: 13px;
        text-transform: none;
        line-height: 18px;
        font-weight: 400;
    }
    .hatch-invert .hatch-checkbox-wrapper label{
        color: #ccc;
    }

    /*-----------------------*/
    /*- RADIO ---------------*/
    .hatch-radio-wrapper input[type=radio]{
        display: none;
    }
    .hatch-radio-wrapper{
        clear: both;
        margin: 0 0 8px;
    }
    .hatch-radio-wrapper label:before{
        content:"";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        background: #fff url(images/radio.png) 0 -32px no-repeat;
        background-size: 16px 16px;
        border: 1px solid #ccc;
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        transition: all 0.2s ease-in-out;
        vertical-align: bottom;
    }
    .hatch-radio-wrapper input[type=radio]:checked + label:before{
        background-color: #0289C0;
        background-position: 0 0;
        border-color: #0289C0;
        box-shadow: none;
    }
    .hatch-radio-wrapper label{
        clear: none;
        display: inline-block;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
    }

/*---------------------------*/
/*- DESIGN BAR --------------*/
.hatch-visuals{
    position: absolute;
    right: 0;
    z-index: 100;
    width: 90px;
    height: 100%;
    background: #f5f5f5;
}
.hatch-visuals + .hatch-container-large{
    width: calc(100% - 90px);
}
.hatch-visuals-title{
    padding: 13px 0px 13px;
    margin: 0px;
    background: #222;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.hatch-visuals-item{
    position: relative;
    padding: 1px;
    margin: 0;
}
.hatch-visuals-item .hatch-icon-wrapper{
    padding: 10px 5px 8px;
    margin: 4px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    color: #444;
    outline: 0;
    transition: all 0.2s ease-in-out;
}
.hatch-visuals-item .hatch-icon-wrapper:hover{
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 0px rgba(0, 0, 0, 0.08);
    background: #2EA2CC;
    border-color: #0074A2;
    color: #fff;
}
.hatch-visuals-item.hatch-active > .hatch-icon-wrapper,
.hatch-visuals-item.hatch-active > .hatch-icon-wrapper:hover{
    background: #e7e7e7;
    border-color: #ccc;
    color: #444;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.hatch-visuals-item .hatch-icon-wrapper.hatch-active,
.hatch-visuals-item .hatch-icon-wrapper.hatch-active:hover{
    background: #e7e7e7;
    border-color: #ccc;
    color: #444;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.hatch-visuals-item .hatch-icon-error{
    color: #FF5353;
}
.hatch-visuals-item .hatch-icon-error:hover{
    background-color: #FF5353;
    border-color: #BC3F39;
    color: #fff;
}

/*- pop menu -*/
.hatch-visuals-settings-wrapper{
    position: absolute;
    top: 0px;
    right: 100px;
    width: 260px;
    max-height: 300px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out 0.1s;
}
.hatch-visuals-settings-wrapper.hatch-small{
    width: 84px;
    max-height: none;
    overflow: hidden;
}
.hatch-visuals-item.hatch-active .hatch-visuals-settings-wrapper{
    right: 95px;
    opacity: 1;
    visibility: visible;
}
.hatch-visuals-item.hatch-last .hatch-visuals-settings-wrapper{
    top: auto;
    bottom: 0px;
}
.hatch-visuals-settings .background-image{
    display: block;
    max-height: 150px;
    margin-bottom: 15px;
    position: relative;
    vertical-align: middle;
    border-radius: 4px;
    overflow: hidden;
}
.hatch-visuals-settings img{
    max-width: 100%;
    height: auto;
}
.hatch-visuals-settings .hatch-form-item{
    padding: 10px;
    margin: 0 -10px;
    border-bottom: 1px solid #ddd;
    opacity: 0;
    transition: 0.25s opacity ease-in-out 0.25s, 0.25s transform ease-in-out 0.25s;
}
    .hatch-visuals-settings .hatch-form-item{transform: translate3d(0, 10px, 0);}
    .hatch-visuals-settings .hatch-form-item:nth-child(2){transform: translate3d(0, 20px, 0);}
    .hatch-visuals-settings .hatch-form-item:nth-child(3){transform: translate3d(0, 30px, 0);}
    .hatch-visuals-settings .hatch-form-item:nth-child(4){transform: translate3d(0, 30px, 0);}
    .hatch-visuals-settings .hatch-form-item:nth-child(5){transform: translate3d(0, 40px, 0);}
    .hatch-visuals-settings .hatch-form-item:nth-child(6){transform: translate3d(0, 50px, 0);}
    .hatch-visuals-settings .hatch-form-item:nth-child(7){transform: translate3d(0, 60px, 0);}
    .hatch-visuals-settings .hatch-form-item:nth-child(8){transform: translate3d(0, 70px, 0);}
    .hatch-visuals-settings .hatch-form-item:nth-child(9){transform: translate3d(0, 80px, 0);}
    .hatch-visuals-settings .hatch-form-item:nth-child(10){transform: translate3d(0, 90px, 0);}
    .hatch-visuals-settings .hatch-form-item:nth-child(11){transform: translate3d(0, 100px, 0);}
    .hatch-active .hatch-visuals-settings .hatch-form-item{opacity: 1; transform: translate3d(0, 0px, 0);}


.hatch-visuals-settings .hatch-form-item:first-child{
    padding-top: 0;
}
.hatch-visuals-settings .hatch-form-item:last-child{
    margin-bottom: -10px;
    border-bottom: none;
}
.hatch-visuals-settings input[type='checkbox'] + label{
    margin-bottom: 0;
}

    /*-----------------------*/
    /*- HORIZONTAL ----------*/
    .hatch-content .hatch-visuals.hatch-visuals-horizontal{
        position: relative;
        right: auto;
        margin: -20px -20px 20px;
        height: auto;
        background-color: #fff;
    }
    .hatch-visuals.hatch-visuals-horizontal{
        width: auto;
        padding: 0px;
        border-bottom: 1px solid #eee;
    }
    .hatch-visuals.hatch-visuals-horizontal .hatch-visuals-title{
        float: left;
        padding: 12px 16px 9px;
        margin: 0px;
        background: #F0F0F0;
        color: #999;
    }
    .hatch-visuals.hatch-visuals-horizontal .hatch-visuals-wrapper{
        border-left: none;
    }
    .hatch-visuals-horizontal .hatch-visuals-item{
        float: left;
        border-right: 1px solid #eee;
    }
    .hatch-visuals-horizontal .hatch-visuals-item.hatch-pull-right{
        float: right;
        border-right: none;
    }
    .hatch-visuals-horizontal .hatch-visuals-item .hatch-icon-wrapper{
        padding: 6px 10px;
        margin: 4px 6px;
    }
    .hatch-visuals-horizontal .hatch-visuals-item.hatch-pull-right .hatch-icon-error{
        padding: 6px 4px;
    }
    .hatch-visuals-horizontal .hatch-visuals-item [class*="icon-"]{
        font-size: 16px;
    }
    .hatch-visuals-horizontal .hatch-icon-description{
        display: none;
    }
    .hatch-visuals-horizontal .hatch-visuals-settings-wrapper{
        top: 54px !important;
        right: auto;
        left: 0;
        bottom: auto !important;
    }
    .hatch-visuals-horizontal .hatch-visuals-item.hatch-active .hatch-visuals-settings-wrapper{
        top: 44px !important;
        right: auto;
        transition: all 0.1s ease-in-out 0.1s;
    }
    .hatch-visuals-horizontal .hatch-visuals-settings-wrapper.hatch-small{
        width: auto;
    }
    .hatch-visuals-horizontal .hatch-visuals-settings-wrapper .hatch-icon-wrapper{
        margin: 5px;
    }


/*---------------------------*/
/*- TITLES ------------------*/
.hatch-controls-title{
    padding: 8px 20px;
    background: #0074A2;
    border-bottom: 1px solid #006086;
    overflow: hidden;
}
.hatch-controls-title .hatch-heading{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
    text-indent: 0;
}
.hatch-section-title{
    margin-bottom: 20px;
}
.hatch-section-title .hatch-heading{
    margin: 0;
    padding: 0;
    font-size: 28px;
    line-height: 38px;
    color: #222;
}
.hatch-section-title .hatch-excerpt{
    max-width: 830px;
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
    line-height: 30px;
    color: #777;
}
.hatch-section-title .hatch-excerpt + .hatch-button{
    margin-top: 20px;
}


        /*-----------------------*/
        /*- SECTION SIZE --------*/
        .hatch-section-title.hatch-large{margin-bottom: 15px;}
        .hatch-section-title.hatch-large .hatch-heading{font-size: 44px; line-height: 54px;}
        .hatch-section-title.hatch-large .hatch-excerpt{max-width: 830px; font-size: 26px; line-height: 36px;}

        .hatch-section-title.hatch-small{margin-bottom: 15px;}
        .hatch-section-title.hatch-small .hatch-heading{font-size: 24px; line-height: 34px;}
        .hatch-section-title.hatch-small .hatch-excerpt{font-size: 16px; line-height: 26px;}

        .hatch-section-title.hatch-tiny{margin-bottom: 15px;}
        .hatch-section-title.hatch-tiny .hatch-heading{font-size: 16px; line-height: 26px; font-weight:  700;}
        .hatch-section-title.hatch-tiny .hatch-excerpt{margin-top: 0px !important; font-size: 14px; line-height: 24px;}

        .invert.hatch-section-title .hatch-heading{color: #fff; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);}
        .invert.hatch-section-title .hatch-excerpt{color: rgba(255, 255, 255, 0.95); text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);}



/*---------------------------*/
/*- BUTTONS -----------------*/
.hatch-button{
    display: inline-block;
    height: 28px;
    margin: 0px;
    padding: 0px 10px 1px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 0px rgba(0, 0, 0, 0.08);
    vertical-align: middle;
    cursor: pointer;
    color: #555;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
}
.hatch-button:hover{
    background-color: #f2f2f2;
    color: #555;
}

    /*-----------------------*/
    /*- PRIMARY BUTTON ------*/
    .btn-primary{
        background: none repeat scroll 0% 0% #2EA2CC;
        border-color: #0074A2;
        color: #fff;
    }
    .btn-primary:hover{
        background: #1E8CBE;
        color: #fff;
    }

    /*-----------------------*/
    /*- SECONDARY BUTTON ----*/
    .btn-secondary{
        background-color: #A3C567;
        border-color: #668056;
        color: #37451D;
    }
    .btn-secondary:hover{
        background-color: #93B25E;
        color: #37451D;
    }

    /*-----------------------*/
    /*- ERROR BUTTON --------*/
    .btn-error{
        background-color: #FF5353;
        border-color: #BC3F39;
        color: #fff;
    }
    .btn-error:hover{
        background-color: #F2413D;
        color: #fff;
    }

    /*-----------------------*/
    /*- BUTTON SIZES --------*/
    .hatch-button.btn-small{
        height: 24px;
        font-size: 11px;
        line-height: 22px;
    }
    .hatch-button.btn-large{
        height: 38px;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
    }
    .hatch-button.btn-massive{
        height: 44px;
        font-weight: 700;
        font-size: 18px;
        line-height: 40px;
    }
    .hatch-button.btn-full{
        display: block;
    }


/*---------------------------*/
/*- ACCORDIONS --------------*/
.hatch-accordions{
    padding: 0;
    margin: 0;
}
.hatch-accordion-item{margin-bottom: 0;}
.hatch-accordion-title{
    display: block;
    margin: 0;
    padding: 15px 20px;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    background: #fff;
    border-bottom: 1px solid #ddd;
    color: #555;
    cursor: pointer;

    transform: scale(1);
    transition: transform 0.2s cubic-bezier(0, 0.275, 0.125, 1) 0s;

    -webkit-transform: scale(1);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0, 0.275, 0.125, 1) 0s;

}
.hatch-accordion-title:active{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
}
.hatch-accordion-item.open .hatch-accordion-title{
    background: #f5f5f5;
}

.hatch-accordion-title:after{
    display: block;
    border-left: 1px solid #ddd;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    content: '\f140';
    font: 400 20px/47px dashicons;
    color: #aaa;
}
.hatch-accordion-item.open .hatch-accordion-title:after{
    color: #555;
    content: '\f142';
}
.hatch-accordion-title:hover{
    background: #f0f0f0; color: #555;
}
.hatch-accordion-title:hover:after{
    color: #555;
}
.hatch-accordion-item:first-child .hatch-accordion-title{
    border-top-width: 0;
}

.hatch-accordion-section{
    background: #fff;
}
.hatch-accordion-item:last-child .hatch-accordion-section{
    border-bottom: none;
}

/*---------------------------*/
/*- ACCORDIONS - SORTABLE ---*/
.hatch-accordions-sortable{}
.hatch-accordions-sortable .hatch-accordion-item{
    margin-bottom: 10px;
    border: 1px solid #eee;
}
.hatch-accordions-sortable .hatch-accordion-item:hover{
    border-color: #ccc;
}
.hatch-accordions-sortable .hatch-accordion-item:active{
}
.hatch-accordions-sortable .hatch-accordion-title{
    padding: 10px;
    border-top: none;
    border-bottom:  1px solid #eee;
    cursor: move;
}
.hatch-accordions-sortable .hatch-accordion-title:after{
    line-height: 37px;
    border-color: #eee;
}
.hatch-accordions-sortable .hatch-accordion-section{
    border-bottom: none;
}

/*---------------------------*/
/*- SORTING (DRAG N DROPS) --*/
.hatch-sortable-drop{
    min-height: 37px;
    background: #fff;
    border: 1px dashed #A3C567;
    text-align: center;
}

.hatch-sortable-drop a{
    color: #000;
    display: block;
    font-weight: bold;
    padding: 10px 5px;
    text-align: center;
}

.ui-sortable-helper{
    background-color: #fff;
    opacity: 0.95;
}

/*---------------------------*/
/*- PANEL -------------------*/
.hatch-panel{}
.hatch-panel-title{
    display: block;
    margin: 0;
    padding: 4px 4px 4px 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    background: #f5f5f5;
    border-radius: 4px;
    color: #555;
}
.hatch-panel-title .heading{
    padding: 0;
    margin: 0;
    line-height: 26px;
}
.hatch-panel .hatch-content{
    padding: 10px;
}

/*---------------------------*/
/*- MARKETING BLOCK ---------*/
.hatch-marketing{
    overflow: hidden;
    margin-bottom: 20px;
    display: block;
}
.hatch-marketing .hatch-marketing-icon{
    float: none;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.hatch-marketing .hatch-marketing-body {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.hatch-marketing .hatch-marketing-body .hatch-heading{
    margin: 10px 0 0;
    text-transform: uppercase;
}
.hatch-marketing .hatch-marketing-body .hatch-excerpt{
    margin: 10px 0 0;
}

/*---------------------------*/
/*- TOOLTIPS ----------------*/
.tooltip{
    float: right;
    width: 16px;
    height: 16px;
    background: #fff url(images/icon-info.png) center no-repeat;
    background-size: 16px 16px;
    border: 1px solid #ccc;
    border-radius: 100%;
    position: relative;
    cursor: help;
}
.tooltip:after{
    width: 220px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 4px;
    position: absolute;
    right: -10px;
    top: 16px;
    z-index: 98;
    color: #f0f0f0;
    content: attr(tooltip);
    line-height: 24px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-transform: none;
}
.tooltip:before{
    border: solid;
    border-color: rgba(0, 0, 0, 0.85) transparent;
    border-width: 0 6px 6px 6px;
    content: "";
    position: absolute;
    right: 2px;
    top: 10px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;}

.tooltip:hover:after{opacity: 1; visibility: visible; top: 25px;}
.tooltip:hover:before{opacity: 1; visibility: visible; top: 19px;}

.hatch-accordion-title .tooltip{
    margin-right: 35px;
}


/*---------------------------*/
/*- ICON STYLING ------------*/
input[type=radio][id*=obox-hatch]{display: none;}

.hatch-icon{
    text-indent: -999px;
    overflow: hidden;
}

.hatch-settings-icon{
    display: block;
    float: left;
    width: 68px;
    margin: 0 10px 10px 0;
    border: 2px solid #f5f5f5;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    background-size: 68px 26px;
    background-repeat: no-repeat;
    background-position: center 5px;
}
.hatch-settings-icon span{
    display: block;
    padding: 0 5px;
    margin: 35px 0 0;
    background-color: #f5f5f5;
    color: #777;
    font-size: 9px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}
input[type=radio]:checked + .hatch-settings-icon{
    background-color: #f5f5f5;
}
input[type=radio]:checked + .hatch-settings-icon span{
    background-color: #0289C0;
    color: #fff;
}

.hatch-settings-icon:last-child{margin-right: 0;}
.hatch-settings-icon:hover{border-color: #0289C0}


/*---------------------------*/
/*- RADIO PILLS -------------*/
.hatch-radio-pills-collection{
    overflow: hidden;
}
.hatch-radio-pills{
    float: left;
    margin-right: 10px;
}
.hatch-radio-pills input[type=radio]{
    display: none;
}
.hatch-radio-pills span{
    display: block;
    float: left;
    padding: 3px 10px 3px 0px;
    color: #333;
    font-size: 10px;
    font-weight: 700;
    line-height: 17px;
}
.hatch-radio-pills input[type=radio] + label{
    display: block;
    float: left;
    padding: 3px 10px;
    background: #f5f5f5;
    color: #777;
    font-size: 10px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
}
.hatch-radio-pills input[type=radio] + label:hover{
    background-color: #0289C0;
    color: #fff;
}

.hatch-radio-pills input[type=radio]:first-child + label{border-radius: 4px 0px 0px 4px;}
.hatch-radio-pills label:last-child{border-radius: 0px 4px 4px 0px;}


/*---------------------------*/
/*- ONCE OFF CSS ------------*/
.hatch-controls-title .btn-collection{}
.hatch-controls-title .hatch-button{padding: 6px 10px; margin-left: 5px;}

/*---------------------------*/
/*- BACKGROUND UPLOADER -----*/
.hatch-image-uploader{
    display: block;
    height: 200px;
    margin-bottom: 15px;
    border: 1px dashed #ddd;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    text-align: center;
}
.hatch-image-uploader p{
    padding: 40px 10px 0;
    margin: 60px 0 0;
    background: url(images/icon-bgimage-small.png) top no-repeat;
    background-size: 32px 32px;
    color: #777;
}
.hatch-image-uploader:hover{
    border-color: #168ABE;
}
.hatch-image-uploader.hatch-small{
    min-height: 200px;
}
.hatch-image-container{
    position: relative;
}
.hatch-image-container .hatch-image-display{
    background: #F0F0F0 url(images/icon-bg-image-small.png) center no-repeat;
    background-size: 32px 32px;
    border: 1px dashed #ddd;
    height: 108px;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
}
.hatch-image-container.has-image .hatch-image-display,
.hatch-image-container.hatch-has-image .hatch-image-display{
    background: none;
    border: none;
    height: auto;
    max-height: 108px;
}
.hatch-image-remove{
    display: none;
    width: 16px;
    height: 16px;
    background: #FF5353 url('images/cross.png') no-repeat;
    background-size: 16px 16px;
    border: 1px solid #BC3F39;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    color: #fff;
    font-size: 11px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    text-indent: -999px;
    overflow: hidden;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 0px rgba(0, 0, 0, 0.08);
}
.hatch-image-remove:hover{
    background-color: #F2413D;
}
.hatch-image-display img{
    display: block;
    margin: 0 auto 10px;
    border-radius: 4px;
}
.hatch-image-display img + .hatch-image-remove{
    display: block;
}

/*---------------------------*/
/*- ELEMENT CONTROLLER ------*/
.hatch-media-controller{
    background: #f5f5f5;
    border: 1px solid #ddd;
    overflow: hidden;
}
.hatch-media-controller .hatch-section-links{
    float: left;
    width: 52px;
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 2;
}
.hatch-media-controller .hatch-section-links li{
    margin: 0;
    border-bottom: 1px solid #ddd;
}
.hatch-media-controller .hatch-section-links li.active{
    margin-right: -1px;
    background: #fff;
}
.hatch-media-controller .hatch-section-links a{
    display: block;
    width: auto;
    padding: 10px;
    transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1) 0s;
    outline: none;
    color: #777;
}
.hatch-media-controller .hatch-section-links a:hover{
    background-color: #fff;
    color: #000;
}
.hatch-media-controller .hatch-section-links li.active a{
    color: #000;
}

.hatch-media-controller .hatch-controller-elements{
    overflow: hidden;
    background: #fff;
    border-left: 1px solid #DDD;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hatch-media-controller .hatch-controller-elements .hatch-content{
    height: 0;
    padding: 0 20px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: height 0.5s ease-in-out, padding 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.hatch-media-controller .hatch-controller-elements .hatch-content.section-active{
    height: 290px;
    padding: 20px;
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
}
.hatch-media-controller .hatch-controller-elements .hatch-form-item{
    margin: 20px 0 60px;
    transition: margin 0.5s ease-in-out 0.2s;
}
.hatch-media-controller .hatch-controller-elements .section-active .hatch-form-item{
    margin: 0 0 15px;
}
.hatch-media-controller .hatch-controller-elements .hatch-checkbox{
    margin: 20px 0 100px;
    transition: margin 0.5s ease-in-out 0.2s;
}
.hatch-media-controller .hatch-controller-elements .section-active .hatch-checkbox{
    margin: 0 0 8px;
}

/*---------------------------*/
/*- MAP CONTAINER -----------*/
.hatch-map-container{
    display: block;
    padding: 0;
    min-height: 300px;
    background: #f8f8f8 url(images/icon-map-large.png) center no-repeat;
    background-size: 64px 64px;
    border: 2px solid transparent;
    border-radius: 4px;
}
.hatch-map img{max-width: none;}

/*---------------------------*/
/*- TABBED NAV --------------*/
.hatch-nav-tabs{
    padding: 20px 0px 0;
    text-align: center;
}
.hatch-nav-tabs ul{
    overflow: hidden;
    max-width: 1000px;
    margin: auto;
}
.hatch-nav-tabs li{
    float: left;
    margin-right: 10px;
}
.hatch-nav-tabs a{
    display: block;
    padding: 6px 15px;
    background: #F3F3F3;
    border-radius: 4px 4px 0 0;
    font-weight: 600;
    color: #8F8F8F;
    text-decoration: none;
}
.hatch-nav-tabs a:hover{
    color: #454545;
    background: #F3F3F3;
}
.hatch-nav-tabs .active a{
    background: #fff;
    border: #ccc solid 1px;
    border-bottom: 0 none;
    color: #454545;
}

/*---------------------------*/
/*- INTERFACE COPY ----------*/
.wp-picker-container .iris-picker{
    width: 200px !important;
    height: 170px !important;
    border-radius: 4px;
}
.wp-picker-container .iris-border .iris-picker-inner{
    width: 200px;
}
.wp-picker-container .iris-picker .iris-square{
    width: 159px !important;
    height: 150px !important;
    margin-right: 4px !important;
}
.wp-picker-container .iris-picker .iris-strip{
    height: 150px !important;
    width: 20px !important;
}


/*---------------------------*/
/*- INTERFACE COPY ----------*/

    /*-----------------------*/
    /*- FEATURE LIST --------*/
    .hatch-feature-list{
        margin-bottom: 26px;
    }
    .hatch-feature-list li{
        padding-left: 26px;
        margin-bottom: 10px;
        background: url(images/copy-tick.png) 0 no-repeat;
        background-size: 16px 16px;
    }
    .hatch-feature-list li.cross{
        background-image: url(images/copy-cross.png);
        background-size: 16px 16px;
    }

    /*-----------------------*/
    /*- BACKUP PAGE --------*/

    .hatch-load-bar{
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0px;
        width: 50%;
    }
    .hatch-load-bar .hatch-progress{
        background-color: #2EA2CC;
        color: #fff;
        display: block;
        font-weight: bold;
        padding: 5px 0px;
        text-align: center;
        width: 100%;

    }
    .hatch-progress.zero{
        background-color: #fff;
        color: #000;
        width: 100%;
    }
    .hatch-progress.complete{
        background-color: #A3C567;
    }

