@font-face {
	font-family: 'hatch-interface';
	src:url('fonts/hatch-interface.eot?d2m28r');
	src:url('fonts/hatch-interface.eot?#iefixd2m28r') format('embedded-opentype'),
		url('fonts/hatch-interface.woff?d2m28r') format('woff'),
		url('fonts/hatch-interface.ttf?d2m28r') format('truetype'),
		url('fonts/hatch-interface.svg?d2m28r#hatch-interface') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'hatch-interface';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-text-right:before {
	content: "\e613";
}
.icon-text-center:before {
	content: "\e614";
}
.icon-text-justify:before {
	content: "\e615";
}
.icon-text-left:before {
	content: "\e616";
}
.icon-settings:before {
	content: "\e612";
}
.icon-support:before {
	content: "\e611";
}
.icon-slider:before {
	content: "\e600";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-arrow-down:before {
	content: "\e602";
}
.icon-arrow-left:before {
	content: "\e603";
}
.icon-arrow-right:before {
	content: "\e604";
}
.icon-photo:before {
	content: "\e605";
}
.icon-columns:before {
	content: "\e606";
}
.icon-list-list:before {
	content: "\e607";
}
.icon-list-grid:before {
	content: "\e608";
}
.icon-list-masonry:before {
	content: "\e609";
}
.icon-display:before {
	content: "\e60a";
}
.icon-advanced-layout-left:before {
	content: "\e60b";
}
.icon-advanced-layout-right:before {
	content: "\e60c";
}
.icon-advanced-layout-top:before {
	content: "\e60d";
}
.icon-image-left:before {
	content: "\e60e";
}
.icon-image-right:before {
	content: "\e60f";
}
.icon-image-center:before {
	content: "\e610";
}
