/*
 Layers Admin Gloabl Styling CSS

 Author: Obox Themes
 Author URI: http://www.oboxthemes.com/
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*------------------------------*/
/*- GENERAL --------------------*/
.l_admin-hide{
	display: none !important;
}
.layers-soft-hide{
	visibility: hidden;
}
